html {
  font-size: 62.5%;
}

body, html {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #343434;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  font-size: 1.4rem;
  background-color: #2b71a5;
  background-image: url("../images/background.png");
}

a {
  text-decoration: none;
  outline: 0;
  display: inline-block;
  transition: outline 1ms;
  color: #3477a8;
  max-width: 100%;
}

a:hover, a:focus {
  color: inherit;
}

a[href^="mailto:"] {
  display: block;
  word-break: break-all;
}

img {
  max-width: 100%;
  height: auto;
}

.clearfix:before, .clearfix:after, .clear:before, .clear:after {
  content: " ";
  display: table;
}

.clearfix:after, .clear:after {
  clear: both;
}

h2 {
  font-family: 'KaushanScript', serif;
  font-weight: normal;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  line-height: 30px;
}

h2.module-name, .gallery-header {
  font-family: 'KaushanScript', serif;
  font-weight: normal;
  width: calc(100% + 26px);
  position: relative;
  z-index: 2;
  color: #fff;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin: 10px 0;
  padding: 15px;
}

h2.module-name svg, .gallery-header svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

h2.module-name svg path, .gallery-header svg path {
  fill: #000;
}

h2.module-name span, .gallery-header span {
  position: relative;
  z-index: 2;
}

.gallery-header {
  padding-left: 0;
}

.FBLike iframe, .Tweet iframe {
  margin: 5px 0 0;
}

form, fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  position: absolute;
  left: -9000em;
}

input, select, textarea {
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
  outline: none;
}

input[type="text"], input[type="password"] {
  border: 1px solid #79b3de;
  height: 32px;
  line-height: 30px;
  padding: 0 10px;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1, h2, h3, h4 {
  font-family: 'KaushanScript', serif;
}

.main-header, .main-subheader {
  font-family: 'KaushanScript', serif;
  color: #3477a8;
  padding: 0;
  margin: 0;
}

.main-header {
  font-size: 3.2rem;
  line-height: 34px;
}

.main-subheader {
  color: #458418;
  font-size: 2.2rem;
  line-height: 24px;
}

.skip-links {
  position: absolute;
  top: 0;
}

.skip-links a, .skip-links a:visited {
  display: inline-block;
  left: -9999px;
  padding: 7px 10px;
  position: absolute;
  text-decoration: none;
  z-index: 100;
  width: 200px;
  text-align: center;
  transition: opacity 0.3s ease 0s;
  opacity: 0;
}

.skip-links a:focus, .skip-links a:hover, .skip-links a:active, .skip-links a:visited:focus, .skip-links a:visited:hover, .skip-links a:visited:active {
  left: 0;
  background-color: #458418;
  color: #fff;
  opacity: 1;
  outline: none;
}

a:focus {
  text-decoration: none !important;
}

.no-outline {
  outline: none !important;
}

a:focus, button:focus, input:focus, .menu-top .navbar-toggle:focus, .dropdown-toggle:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.keyboard-outline {
  outline: 2px solid #ff0000 !important;
  outline-offset: 2px !important;
  text-decoration: none !important;
}

#content_txt table {
  margin: 10px 0;
  border: 1px solid #3477a8;
  border-collapse: collapse;
}

#content_txt table th, #content_txt table td {
  border: 1px solid #3477a8;
  padding: 3px 5px;
}

#content_txt table caption {
  font-weight: bold;
}

#content_txt p {
  line-height: 17px;
}

#flashclock {
  display: none;
}

input[type=text], input[type=search], input[type=password], textarea {
  border: 1px solid #458418;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

input[type=text]:focus, input[type=search]:focus, input[type=password]:focus, textarea:focus {
  border: 1px solid #3477a8;
}

button {
  background-color: transparent;
  border: 0;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
}

.base {
  display: none;
}

.input-wrapper {
  display: inline-block;
  position: relative;
  color: #fff;
}

.input-wrapper input {
  position: relative;
  border: 0;
  box-shadow: none;
  text-transform: uppercase;
  background-color: transparent;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0;
  z-index: 2;
  padding: 0 21px;
  text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
  color: currentColor;
}

.input-wrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: #458418;
}

.input-wrapper:hover {
  text-decoration: none;
}

.input-wrapper:hover input {
  color: #fff;
}

.input-wrapper:hover svg {
  fill: #3477a8;
}

.link-wrapper, .buttonWrapper {
  display: inline-block;
  position: relative;
  color: #fff;
  text-transform: uppercase;
}

.link-wrapper a, .buttonWrapper a {
  position: relative;
  width: 100%;
  z-index: 2;
  font-size: 1.4rem;
  line-height: 40px;
  font-weight: 700;
  padding: 0 21px;
  text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
  color: currentColor;
}

.link-wrapper a:hover, .buttonWrapper a:hover {
  text-decoration: none !important;
}

.link-wrapper svg, .buttonWrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: #458418;
}

.link-wrapper:hover a, .buttonWrapper:hover a {
  text-decoration: none;
}

.link-wrapper:hover svg, .buttonWrapper:hover svg {
  fill: #3477a8;
}

.link-object {
  display: inline-block;
  position: relative;
  color: #fff;
  z-index: 2;
  font-size: 1.4rem;
  line-height: 40px;
  font-weight: 700;
  padding: 0 21px;
  text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
}

.link-object span {
  position: relative;
  z-index: 2;
}

.link-object svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: #458418;
}

.link-object:hover {
  text-decoration: none;
  color: #fff;
}

.link-object:hover svg {
  fill: #3477a8;
}

.dropdown-menu > li > a {
  white-space: normal;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background: transparent;
}

iframe {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#content_txt:before, #content_txt:after {
  content: " ";
  display: table;
}

#content_txt:after {
  clear: both;
}

a:not([href]) {
  width: 0;
  height: 0;
  display: inline;
}

.label {
  font-size: 100%;
}

@media (min-width: 992px) {
  .page-content {
    transform: translateY(-72px);
  }
}

@media (max-width: 991px) {
  .page-content {
    padding: 0;
  }
  .main, .aside {
    height: auto !important;
  }
}

.page-content-mobile {
  display: none;
}

.files-header,
.gallery-header,
.subHead,
#content_txt h2 {
  margin: 0 0 15px 0;
  padding-bottom: 15px;
  font-size: 3.2rem;
  color: #3477a8;
}

#content_txt .main-text h2 {
  margin: 15px 0;
  font-size: 2.7rem;
}

#content_txt .leadArticle {
  margin-bottom: 20px;
}

.module.module-with-icon .module-body {
  position: relative;
}

.module.module-with-icon .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 65px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.modules-content .module .module-content {
  text-align: center;
}

.modules-content .module.module-common .module-content {
  padding-bottom: 0;
}

.modules-content .module#mod_contact .module-content {
  text-align: left;
}

#content {
  margin: 0;
}

.modules-bottom {
  margin-bottom: 30px;
}

.modules-bottom {
  margin-top: 55px;
}

/* Adv */
#advertsLeftWrapper {
  text-align: center;
}

#advertsTopWrapper {
  text-align: center;
  margin-bottom: 30px;
}

#advertsLeftContent {
  padding: 0;
}

.advertTop {
  position: relative;
  z-index: 2;
  margin-bottom: 30px;
}

.advertLeft {
  margin-bottom: 30px;
}

.advertTop iframe,
.advertTop object,
.advertTop img {
  max-width: 100%;
  height: auto;
}

.advertTop a,
.advertLeft a {
  display: block;
}

/* Breadcrumb */
#crumbpath {
  padding: 0 0 20px 0;
  color: #000;
}

#crumbpath a {
  text-decoration: none;
  font-weight: bold;
}

#crumbpath a:hover,
#crumbpath a:focus {
  text-decoration: underline;
}

#crumbpath ol {
  display: inline;
  margin-bottom: 0;
  vertical-align: top;
}

#crumbpath ol li {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
}

#crumbpath ol li .icon {
  font-size: 12px;
  margin-left: 0;
  margin-right: 10px;
}

.pathSep {
  margin: 0 10px;
}

.here {
  display: inline-block;
  vertical-align: top;
  margin-right: 15px;
}

/* Content */
#content_txt img {
  max-width: 720px;
  overflow: hidden;
  height: auto;
}

#content_txt table {
  width: 100%;
}

#content_txt .authorName {
  margin: 30px 0;
}

#content_txt .authorName span {
  font-weight: bold;
}

#content_txt p,
#content_txt span {
  word-wrap: break-word;
}

#welcome {
  padding: 0 0 20px 0;
}

#welcome a:focus {
  background-color: #484848;
  color: #fff !important;
}

#welcome a:focus span {
  background-color: #484848;
  color: #fff !important;
}

.gallery-wrapper,
.article-wrapper {
  margin-top: 15px;
}

.main-text {
  position: relative;
  z-index: 10;
  font-size: 1.4rem;
}

.main-text .subHead {
  font-size: 2.4rem;
  margin: 0 0 15px 0;
  padding-bottom: 15px;
}

.search-list,
.files-wrapper {
  margin-bottom: 30px;
}

/* Messages */
.txt_err {
  color: #ff0000;
  border: 2px solid #ff0000;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background: #ffe5e5;
  font-weight: bold;
}

.txt_msg {
  color: #fff;
  border: 2px solid #236200;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background: #458418;
  font-weight: bold;
}

.txt_com {
  color: #fff;
  border: 2px solid #125586;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  background: #3477a8;
  font-weight: bold;
}

.txt_err p,
.txt_com p,
.txt_msg p {
  margin: 0;
}

#content_txt .txt_err a,
#content_txt .txt_err a:visited {
  color: #ff0000;
}

.inError {
  border-color: #ff0000 !important;
  background: #ffe5e5 !important;
}

.anchor {
  position: relative;
  height: 0;
  width: 0;
  top: -60px;
  display: block;
}

/* Forms */
#content_txt form {
  margin-top: 20px;
}

.formL {
  width: 15rem;
  float: left;
  text-align: right;
  padding: 11px 10px 0 0;
  min-height: 10px;
}

.formR {
  float: left;
  margin: 0 0 10px 0;
  position: relative;
}

.formR.radio label:first-child {
  margin: 0;
}

.formR.radio label {
  margin-left: 10px;
}

.formR.login {
  margin-top: 11px;
  padding: 0;
}

.formR p {
  margin: 10px 0;
}

.formR .msgMarg:empty {
  display: none;
}

.formLabel-captcha {
  margin-top: 20px;
}

.msgMarg {
  margin: 5px 0;
  font-size: 1.2rem;
  display: inline-block;
}

.msgError {
  color: #ff0000;
}

.remind-passowrd-wrapper {
  margin-top: 15px;
}

.inText,
.inTextSmall,
.inTextArea {
  display: block;
  box-sizing: border-box;
  padding: 5px;
  color: #343434;
  width: 300px;
}

.inText,
.inTextSmall {
  height: 41px;
}

.inTextArea {
  height: 180px;
}

.inText:focus,
.inTextSmall:focus,
.inTextArea:focus {
  border-color: #000;
}

.forumAvatarImage {
  border: 2px solid #458418;
  max-width: 55px !important;
  height: auto !important;
}

.avatarFrameImage {
  border: 2px solid #458418;
}

.asterisk {
  color: #ff0000;
  margin-right: 5px;
}

.login {
  padding-top: 5px;
  font-weight: bold;
}

.captchaTxt {
  margin: 0 10px 0 0;
}

div.radio {
  padding-top: 8px;
  margin-bottom: 18px;
}

#content_txt input[type="radio"] + label {
  vertical-align: top;
}

#content_txt input[type="radio"] + label span.radio {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  cursor: pointer;
  margin-top: 0px;
  background: url("../images/radio.png") no-repeat;
}

#content_txt input[type="radio"] + label span.radio:hover, #content_txt input[type="radio"] + label span.radio:focus {
  background-position: 0 -20px;
}

#content_txt input[type="radio"]:checked + label span.radio {
  background-position: 0 -40px;
}

#content_txt span.label {
  display: block;
  margin: -20px 0 0 22px;
}

#content_txt .class-list > li {
  margin-bottom: 10px;
  font-size: 1.6rem;
}

#content_txt .class-list > li a,
#content_txt .class-list > li a:visited {
  color: #343434;
  font-weight: bold;
}

#content_txt .class-list > li a:hover {
  text-decoration: none;
}

#content_txt .class-list > li a:hover span {
  text-decoration: underline;
}

#content_txt .class-list .timetable .txt-err {
  border: 0;
  background-color: transparent;
  margin: 0;
}

.timetable {
  margin: 10px 0;
}

.timetable caption {
  font-weight: normal;
  padding: 8px 0;
  font-size: 1.182em;
  text-transform: uppercase;
}

.planLp {
  text-align: center;
}

.planLesson {
  font-weight: bold;
}

/* Location */
#content_txt iframe {
  border: 2px solid #458418;
  max-width: 100%;
  box-sizing: border-box;
}

#content_txt .Tweet iframe {
  border: none;
}

#content_txt .FBLike iframe {
  border: none;
}

#content_txt .txtMessage small a,
#content_txt .txtMessage small a:visited {
  color: #000 !important;
  text-decoration: none !important;
}

#content_txt .txtMessage small a:hover {
  color: #000 !important;
  text-decoration: underline !important;
}

#backLinks {
  margin: 0;
  padding: 0;
}

#backLinks li {
  list-style-type: none;
}

/* Sitemap */
#content_txt .sitemap {
  margin: 0 0 30px 10px;
  padding: 0 0 0 10px;
  list-style: disc;
}

#content_txt .sitemap .sitemap {
  margin-bottom: 0;
}

#content_txt .sitemap li {
  margin: 10px 0;
  position: relative;
}

#content_txt .sitemap li a,
#content_txt .sitemap li a:visited {
  font-weight: bold;
}

#content_txt .sitemap li a:hover,
#content_txt .sitemap li a:focus {
  color: #3477a8;
  text-decoration: underline;
  color: inherit;
}

#content_txt .sitemap li .protectedPage {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
}

#content_txt .sitemap li .protectedPage i {
  display: inline-block;
  position: relative;
  top: -3px;
}

/* Poll */
.qAnswer {
  font-size: 1.3rem;
  width: calc(100% - 80px);
}

.qPercent {
  float: right;
  text-align: right;
  margin: 0;
  padding: 0;
  transform: translateY(-24px);
  color: #000;
  font-weight: bold;
  font-size: 3rem;
  line-height: 32px;
}

.qBar {
  background: #000;
  height: 4px;
  margin: 8px 0 15px 0;
  border-bottom: 1px solid #328ccd;
}

.questionnaireList {
  margin: 0 0 20px 0;
  padding: 0;
}

.questionnaireList li {
  list-style-type: none;
  margin-bottom: 5px;
}

/* Tools */
.hide {
  position: absolute;
  top: 0;
  left: -9000em;
  width: 1px;
  height: 1px;
}

.clear {
  display: none;
}

.noMargin {
  margin: 0;
}

.bolder {
  font-weight: bold;
}

img {
  border: none;
}

.rel {
  position: relative;
}

/* Jokes */
#jokes {
  margin: 0 0 40px 0;
  padding: 0;
}

#jokes li {
  list-style-type: none;
  margin-bottom: 30px;
  border-bottom: 3px solid #458418;
  position: relative;
}

.jokeText {
  padding: 10px;
  color: #343434;
}

.jokeNick {
  background: none;
  color: #676767;
  text-align: right;
  padding: 5px 10px;
}

.jokeDate {
  color: #343434;
}

#cookiesMsg {
  width: auto !important;
  padding: 10px !important;
}

#cookiesMsg p {
  margin: 0;
}

.back-links li {
  margin-bottom: 5px;
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  html {
    font-size: 56.25%;
  }
  .header .header-name {
    width: 88%;
  }
  .menu-top .menu .topMenu > li {
    margin-right: 10px;
  }
  .article-wrapper-home .article .photo-wrapper a,
  .article-wrapper-home .article .photo-wrapper a:visited,
  .article-wrapper .article .photo-wrapper a,
  .article-wrapper .article .photo-wrapper a:visited {
    width: 290px;
    height: 197px;
    perspective: 581px;
  }
}

@media screen and (max-width: 991px) {
  .toolbar {
    margin: 0;
    padding-top: 17px;
    background: #fff;
    border: 0;
  }
  .toolbar .inner:nth-child(1) {
    position: absolute;
    left: 15px;
  }
  .toolbar .inner:nth-child(2) {
    float: none;
    margin-left: 40px;
  }
  .toolbar .inner:nth-child(2) .links ul {
    line-height: 34px;
  }
  .toolbar .links li.home {
    margin: 0 10px 0 0;
  }
  .toolbar .fonts {
    float: right;
    margin-right: 42px;
    height: 34px;
    border-right: 1px solid #02514b;
  }
  .toolbar .fonts ul {
    margin-right: 15px;
  }
  .toolbar .fonts li {
    display: none;
    line-height: 34px;
  }
  .toolbar .fonts li.contrast {
    display: block;
    margin-right: 0;
  }
  .toolbar .fonts li.contrast span {
    display: none;
  }
  .toolbar .searchbar {
    position: absolute;
    right: 0;
  }
  .toolbar .searchbar form {
    position: relative;
    width: 34px;
  }
  .toolbar .searchbar form input[type=text] {
    position: absolute;
    right: 0;
    visibility: hidden;
    width: 34px;
    background: #fff;
    transition: width 0.3s ease 0s;
  }
  .toolbar .searchbar .btnSearch {
    padding: 0;
  }
  .toolbar .searchbar form:not(.show) .btnSearch {
    background-color: transparent;
    background-image: url(../images/toolbar/search-inverse.png);
  }
  .toolbar .searchbar form.show input[type=text] {
    visibility: visible;
    width: 195px;
  }
  .modules-top .list .module .icon {
    height: 60px;
  }
  .sidebar-menu > ul.menus > li > a .bg {
    perspective: none;
  }
  .sidebar-menu > ul.menus > li > a .bg-inner {
    transform: skewX(-6deg);
  }
  .sidebar-menu > ul.menus > li a:hover .bg,
  .sidebar-menu > ul.menus > li > ul.dropdown-menu li a:hover .bg,
  .sidebar-menu > ul.menus > li a.selected .bg,
  .sidebar-menu > ul.menus > li > ul.dropdown-menu > li a.selected .bg,
  .sidebar-menu > ul.menus > li > ul.dropdown-menu > li > ul.dropdown-menu li a.selected .bg {
    transform: none;
  }
  .page-content-mobile {
    margin: 30px 0 0;
    padding: 10px 0;
    display: block;
  }
  .page-content {
    padding: 10px 0 0;
  }
  #content {
    margin: 0 0 35px 0;
  }
  .modules-top {
    padding: 0;
  }
  .modules-top .list {
    margin-bottom: 30px;
  }
  .modules-top .list .module {
    margin-top: 30px;
    width: 50%;
  }
  .article-wrapper-home .article .photo-wrapper a,
  .article-wrapper-home .article .photo-wrapper a:visited,
  .article-wrapper .article .photo-wrapper a,
  .article-wrapper .article .photo-wrapper a:visited {
    width: 300px;
    height: 204px;
    perspective: 600px;
  }
  .modules-bottom {
    margin-top: 0;
  }
  #advertsLeftWrapper {
    margin: 0;
  }
  .advertLeft:last-child {
    margin-bottom: 0;
  }
  #sidebar-menu-mobile {
    position: relative;
    padding: 0 15px 30px;
  }
  #sidebar-menu-mobile .sidebar-menu {
    position: relative;
    z-index: 100;
  }
}

@media screen and (max-width: 767px) {
  .table-responsive {
    border: 0;
  }
  .modules-top .list {
    margin-bottom: 40px;
  }
  .modules-top .list .module {
    margin-top: 40px;
    width: 100%;
    padding: 0 15px;
  }
  .module-common#mod_calendar2 #calendarNews {
    margin: 0 auto;
    max-width: 320px;
  }
  .sidebar-modules {
    margin-top: -20px;
    padding-top: 20px;
  }
  .sidebar-modules .module .module-content {
    height: auto;
  }
  .sidebar-modules {
    overflow: hidden;
  }
  .modules-bottom .row {
    margin-top: -20px;
    padding-top: 20px;
    overflow: hidden;
  }
  #content_txt img {
    max-width: 100% !important;
  }
  .article-wrapper-home .article,
  .article-wrapper .article {
    min-height: 0;
    margin: 20px 0;
  }
  .article-wrapper-home .article .lead-text.no-padding-left,
  .article-wrapper .article .lead-text.no-padding-left {
    padding-top: 30px;
    padding-left: 40px;
  }
  .article-wrapper-home .article .photo-wrapper,
  .article-wrapper .article .photo-wrapper {
    margin-top: -20px;
    margin-bottom: 20px;
    position: static;
    top: auto;
    left: auto;
    display: none;
  }
  .article-wrapper-home .article .photo-wrapper a,
  .article-wrapper-home .article .photo-wrapper a:visited,
  .article-wrapper .article .photo-wrapper a,
  .article-wrapper .article .photo-wrapper a:visited {
    width: 100%;
    height: auto;
    perspective: none;
  }
  .article-wrapper-home .article .photo-wrapper .shape,
  .article-wrapper .article .photo-wrapper .shape {
    transform: none;
    -webkit-transform: none;
  }
  .article-wrapper-home .article .photo-wrapper .shape-img,
  .article-wrapper .article .photo-wrapper .shape-img {
    position: static;
    transform: none;
  }
  .article-wrapper-home .article .photo-wrapper a .shape-img:hover,
  .article-wrapper .article .photo-wrapper a .shape-img:hover {
    transform: none;
  }
  .article-wrapper-home .article .photo-wrapper .shape-img:after,
  .article-wrapper .article .photo-wrapper .shape-img:after {
    display: none;
  }
  .formL {
    float: none;
    width: auto;
    text-align: left;
  }
  .formR {
    float: none;
  }
  .formLabel-captcha {
    margin-top: 0;
  }
  .inText,
  .inTextSmall,
  .inTextArea {
    width: 100%;
  }
  #editForm .clear,
  #loginForm .clear,
  #registerForm .clear,
  #addForm .clear,
  #delForm .clear {
    display: none;
  }
  .forum-threads-wrapper {
    margin: 30px 0;
  }
  .forum-answers-wrapper {
    margin: 30px 0;
  }
  .topicContent, .postContent {
    width: auto;
  }
  #modules-bottom {
    position: relative;
  }
}

@media screen and (max-width: 479px) {
  .article-wrapper-home .article .button,
  .article-wrapper .article .button {
    padding-right: 20px;
    background-image: none;
  }
}

.toolbar {
  margin: 0 auto;
  width: 1235px;
  height: 48px;
  color: #3477a8;
  position: relative;
  background-position: 0 0;
  background-size: 100% 100%;
  background-image: url("../images/toolbar/background.svg");
  background-repeat: no-repeat;
  z-index: 4;
}

.toolbar a {
  color: #3477a8;
}

.toolbar__links {
  margin-left: 40px;
  float: left;
}

.toolbar__links li {
  line-height: 45px;
  margin: 0 25px 0 0;
  display: inline-block;
}

.toolbar__links li a {
  white-space: nowrap;
}

.toolbar__links li:last-child a {
  width: 50px;
}

.toolbar__links img, .toolbar__links svg {
  display: inline-block;
  margin: 0 7px 0 0;
  vertical-align: middle;
}

.toolbar__holder {
  float: right;
}

.toolbar__holder:before, .toolbar__holder:after {
  content: " ";
  display: table;
}

.toolbar__holder:after {
  clear: both;
}

.toolbar__fonts {
  float: left;
  margin: 0 20px;
}

.toolbar__fonts span {
  line-height: 45px;
}

.toolbar__fonts span, .toolbar__fonts ul {
  display: block;
  float: left;
}

.toolbar__fonts ul {
  display: table;
  vertical-align: bottom;
  margin: 9px 10px 0 3px;
}

.toolbar__fonts ul li {
  display: table-cell;
}

.toolbar__fonts ul li a {
  margin: 0 3px;
}

.toolbar__fonts ul li a svg {
  vertical-align: bottom;
  transform: translateY(2px);
}

.toolbar__contrast {
  display: block;
  float: left;
  line-height: 45px;
}

.toolbar__contrast svg {
  transform: translateY(5px);
  margin-right: 7px;
}

.toolbar__search {
  float: left;
  margin: 5px 25px 0 15px;
}

.toolbar__search button {
  color: #fff;
  min-width: 95px;
  min-height: 36px;
  padding: 0 15px;
  position: relative;
  letter-spacing: 0.5px;
  z-index: 2;
  text-transform: uppercase;
  font-weight: 700;
}

.toolbar__search button svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: #458418;
}

.toolbar__search button span {
  position: relative;
  z-index: 2;
}

.toolbar__search button:hover svg {
  fill: #3477a8;
}

.toolbar__search input[type="text"] {
  transform: translateX(15px) translateY(0px);
  padding: 0 5px 0 10px;
  width: 170px;
  border-color: #e1ebda;
  height: 32px;
  line-height: 30px;
}

.menu-top {
  position: relative;
  padding: 10px 0;
  width: 1225px;
  margin: 0 auto;
  z-index: 9;
}

.menu-top .toolbar {
  margin: 0;
}

.menu-top .menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-top .menu a:hover, .menu-top .menu a.selected, .menu-top .menu a.has-selected {
  text-decoration: none;
  background: #e4d4ce;
}

.menu-top .menu .topMenu > li {
  float: left;
  font-size: 1.4rem;
}

.menu-top .menu .topMenu > li:last-child {
  margin-right: 0;
}

.menu-top .menu .topMenu > li > a {
  position: relative;
  display: block;
  padding: 10px 20px;
  line-height: 27px;
}

.menu-top .menu .topMenu > li > a .title {
  text-transform: uppercase;
}

.menu-top .menu .topMenu > li > a .title .protectedPage {
  margin-left: 5px;
  display: inline-block;
  vertical-align: baseline;
  line-height: 0;
}

.menu-top .menu .topMenu > li > a .title .protectedPage i {
  display: inline-block;
  position: relative;
}

.menu-top .menu .topMenu > li > a:before, .menu-top .menu .topMenu > li > a:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
  display: block;
  line-height: 47px;
  border-style: solid;
  bottom: 0;
}

.menu-top .menu .topMenu > li > a:before {
  left: 0;
  border-width: 47px 0 0 2px;
  border-color: transparent transparent transparent #458418;
}

.menu-top .menu .topMenu > li > a:after {
  right: 0;
  border-width: 0 0 47px 4px;
  border-color: transparent transparent #458418 transparent;
}

.menu-top .menu .topMenu > li > .dropdown-menu {
  margin: 0;
  font-size: 1.2rem;
  border-radius: 0;
  box-shadow: none;
}

.menu-top .navbar-header {
  position: relative;
  z-index: 110;
}

.menu-top .navbar-toggle {
  box-sizing: border-box;
  position: relative;
  color: #fff;
  width: 100%;
  text-align: left;
  height: 70px;
  float: none;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
}

.menu-top .navbar-toggle .icon {
  position: absolute;
  width: 30px;
  height: 3px;
  background: #fff;
  left: 15px;
  transition: all 0.3s ease;
}

.menu-top .navbar-toggle .icon:nth-child(1) {
  margin-top: -10px;
}

.menu-top .navbar-toggle .icon:nth-child(3) {
  margin-top: 10px;
}

.menu-top .navbar-toggle:not(.collapsed) .icon:nth-child(1) {
  transform: rotate(45deg) translateX(8px) translateY(7px);
}

.menu-top .navbar-toggle:not(.collapsed) .icon:nth-child(2) {
  opacity: 0;
}

.menu-top .navbar-toggle:not(.collapsed) .icon:nth-child(3) {
  transform: rotate(-45deg) translateX(7px) translateY(-6px);
}

.navbar {
  position: relative;
  min-height: 0;
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.dropdown-backdrop {
  display: none;
}

#menu-hamburger {
  background: #3477a8;
  display: none;
}

#menu-top {
  background-image: url("../images/toolbar/menu-outer.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0;
  padding: 35px 40px 30px 35px;
}

#menu-top .navbar {
  background-image: url("../images/toolbar/menu-inner.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0;
}

#menu-top .topMenu {
  font-size: 1.6rem;
  color: #fff;
}

#menu-top .topMenu ul {
  text-align: center;
}

#menu-top .topMenu ul:before, #menu-top .topMenu ul:after {
  content: " ";
  display: table;
}

#menu-top .topMenu ul:after {
  clear: both;
}

#menu-top .topMenu > li > a:hover {
  text-decoration: none !important;
}

#menu-top .topMenu li {
  display: inline-block;
  font-weight: 700;
}

#menu-top .topMenu li a {
  padding: 10px 15px;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
}

#menu-top .topMenu li a:hover, #menu-top .topMenu li a.selected, #menu-top .topMenu li a.has-selected {
  color: #458418;
  text-decoration: none;
  background-color: #fff;
}

#menu-top .menu-icon {
  display: none;
}

@media (max-width: 1250px) {
  .toolbar {
    background-image: none;
    background-color: #fff;
  }
  .menu-top {
    width: 100%;
  }
}

@media (max-width: 1199px) {
  .toolbar {
    width: 970px;
    background-image: url("../images/toolbar/background.svg");
    background-color: transparent;
  }
  .toolbar__links {
    margin: 0;
  }
  .toolbar__links li {
    margin-right: 10px;
  }
}

@media (min-width: 992px) {
  #menu-top {
    transform: translateY(-72px);
    margin-bottom: 15px;
  }
  #menu-top .menu .topMenu {
    text-align: center;
  }
  #menu-top .menu .topMenu > li {
    margin: 0;
    float: none;
  }
  #menu-top .menu .topMenu > li > .dropdown-menu {
    margin-top: 12px;
    padding: 8px;
    width: 20rem;
    background-color: #458418;
    color: #fff;
    border-radius: 0;
    border: 1px solid #fff;
    left: 50%;
    transform: translateX(-50%);
  }
  #menu-top .menu .topMenu > li > .dropdown-menu > li {
    width: 100%;
    display: block;
    border-bottom: 1px solid #fff;
  }
  #menu-top .menu .topMenu > li > .dropdown-menu > li:last-child {
    border: 0;
  }
  #menu-top .menu .topMenu > li > .dropdown-menu > li > a {
    font-size: 1.4rem;
    background-color: transparent;
    color: #fff;
    padding: 5px 3px;
    font-weight: bold;
  }
  #menu-top .menu .topMenu > li > .dropdown-menu > li > a:hover {
    text-decoration: underline;
  }
}

@media (max-width: 991px) {
  #menu-hamburger {
    display: block;
  }
  #menu-top {
    transform: none;
    position: absolute;
    top: 70px;
    padding: 0;
    left: 0;
    right: 0;
    background-image: none;
  }
  #menu-top .navbar {
    background-image: none;
  }
  #menu-top .topMenu li {
    display: block;
  }
  #menu-top .topMenu li a {
    color: #3477a8;
  }
  #menu-top .topMenu li a:hover, #menu-top .topMenu li a.selected {
    background-color: #3477a8;
    color: #fff;
    text-decoration: none;
  }
  #menu-top .topMenu li > a:before, #menu-top .topMenu li > a:after {
    display: none !important;
  }
  #menu-top .topMenu li > .dropdown-menu {
    font-size: 1.4rem;
    font-weight: bold;
    background-color: #fff;
    border-top: 2px solid #3477a8;
    border-bottom: 2px solid #3477a8;
  }
  #menu-top .topMenu li > .dropdown-menu > li > a {
    font-weight: bold;
  }
  .toolbar {
    background-color: #fff;
    height: auto;
    padding: 10px 25px;
    width: 100%;
    transform: none;
  }
  .toolbar .container {
    width: 750px;
  }
  .toolbar li a {
    width: 30px;
  }
  .toolbar__contrast img {
    margin: 0;
  }
  .toolbar__contrast span {
    display: none;
  }
  .toolbar__fonts {
    display: none;
  }
  .toolbar__links {
    font-size: 0;
  }
  .toolbar__links img {
    transform: scale(1.8) translateX(50%);
  }
  .toolbar__links li:last-child a {
    width: 65px;
  }
  .toolbar__links li:last-child img {
    transform: none;
  }
  .toolbar__search {
    margin-right: 0;
    float: right;
  }
  .toolbar__search input[type="text"] {
    display: none;
  }
  .toolbar__search .show input[type="text"] {
    display: inline-block;
  }
  .menu-top {
    padding: 0;
  }
  .menu-top .navbar-collapse {
    border-top: 0;
    box-shadow: none;
  }
  .menu-top .menu {
    background: #fff;
  }
  .menu-top .menu ul li a {
    padding: 10px;
  }
  .menu-top .menu a .title {
    margin-top: 0;
  }
  .menu-top .menu a.selected, .menu-top .menu a:hover {
    background: #78b74b;
    text-decoration: underline;
  }
  .menu-top .menu .topMenu > li {
    float: none;
    margin-right: 0;
    text-align: center;
  }
  .menu-top .menu .topMenu > li > a {
    padding: 15px;
  }
  .menu-top .menu .topMenu > li > a.selected:after {
    display: none;
  }
  .menu-top .menu .topMenu > li > .dropdown-menu {
    position: static;
    margin: 0;
    float: none;
    min-width: 0;
    border: 0;
    border-radius: 0;
    background-color: #458418;
    text-align: center;
    box-shadow: none;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
  }
  .menu-top .navbar-collapse {
    width: 100%;
    padding: 0;
    border-bottom: 2px solid #3477a8;
  }
  .menu-top .navbar-collapse .container {
    padding: 0;
    width: 100%;
  }
  .menu-top .navbar-collapse .row {
    margin: 0;
  }
  .menu-top .navbar-collapse .col-xs-12 {
    padding: 0;
  }
  .menu-top-searchbar {
    display: none;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
}

@media (max-width: 767px) {
  .toolbar {
    padding-left: 0;
    padding-right: 0;
  }
  .toolbar .container {
    width: 100%;
  }
  .toolbar__search {
    margin-left: 0;
  }
  .toolbar__search input[type="text"] {
    position: absolute;
    right: 125px;
  }
}

.header {
  position: relative;
  transform: translateY(-24px) translateX(-10px);
}

.hero__vector--outer {
  width: 1155px;
  height: 449px;
  transform: translateY(-4px);
}

.hero__vector--inner {
  position: absolute;
  top: 25px;
  right: 35px;
  width: 1012px;
  height: 411px;
}

.header .owl-carousel {
  position: absolute;
  top: 25px;
  right: 35px;
  width: 1012px;
  height: 411px;
}

.header .owl-carousel ul {
  margin: 0;
  width: 1012px;
  height: 411px;
}

.header .owl-carousel ul li {
  width: 1012px;
  height: 411px;
}

.header .owl-carousel ul li .hero__vector--inner {
  top: 0;
  right: 0;
}

.header__info {
  width: 433px;
  height: 392px;
  background-image: url("../images/hero/description-outer.svg");
  background-position: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 3;
  position: absolute;
  top: 22px;
  left: 0;
  margin: 0 0 0 11px;
  color: #fff;
}

.header__info > div {
  position: relative;
  background-image: url("../images/hero/description-inner.svg");
  background-position: 0;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 4;
  margin: 0 0 0 15px;
  width: 390px;
  height: 405px;
  padding: 87px 70px 60px 25px;
}

.header__info a {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}

.header__info h1 {
  font-family: 'KaushanScript', serif;
  margin: 0 0 10px;
  font-size: 32px;
  display: block;
  line-height: 36px;
}

.header__info p {
  font-size: 14px;
  display: block;
  margin: 0 2px;
}

.header__info p.title {
  display: none;
}

@media (max-width: 1199px) {
  .hero__vector--outer {
    width: 940px;
    height: 365px;
  }
  .hero__vector--inner {
    width: 812px;
    height: 330px;
    right: 40px;
  }
  .header .owl-carousel {
    width: 812px;
    height: 330px;
  }
  .header .owl-carousel ul {
    width: 812px;
    height: 330px;
  }
  .header .owl-carousel ul li {
    width: 812px;
    height: 330px;
  }
  .header__info {
    width: 351px;
    height: 318px;
    margin-left: 27px;
  }
  .header__info > div {
    transform: scale(0.9) translateX(-20px) translateY(-19px);
    width: 347px;
    height: 365px;
  }
  .header__info h1 {
    font-size: 26px;
    line-height: 28px;
  }
}

@media (max-width: 991px) {
  .header {
    height: 290px;
  }
  .header .owl-carousel {
    width: 670px;
    top: 0;
  }
  .header .owl-carousel ul {
    width: 670px;
  }
  .header .owl-carousel ul li {
    width: 670px;
  }
  .hero__vector--outer {
    transform: none;
    width: 100%;
    height: 310px;
  }
  .hero__vector--inner {
    width: 670px;
    right: 30px;
    top: 0;
  }
  .header__info {
    top: 18px;
    left: 0;
    margin-left: 8px;
  }
  .header__info > div {
    padding: 64px 70px 60px 26px;
    transform: scale(0.9) translateX(0) translateY(-21px);
    margin: 0;
  }
}

@media (max-width: 767px) {
  .header {
    margin: 15px 0 0;
    height: auto;
    transform: none;
  }
  .header .owl-carousel {
    width: 75%;
    top: 25px;
    right: 65px;
    height: auto;
  }
  .header .owl-carousel ul {
    width: 100%;
    height: auto;
  }
  .header .owl-carousel ul li {
    width: 100%;
    height: auto;
  }
  .header .owl-carousel ul li .hero__vector--inner {
    position: static;
    width: 100%;
    height: auto;
  }
  #headerBanner {
    width: 140%;
    transform: translateX(-20%);
    position: relative;
  }
  .hero__vector--outer {
    width: 100%;
    height: auto;
  }
  .hero__vector--inner {
    width: 75%;
    top: 25px;
    right: 65px;
    height: auto;
  }
  .header__info {
    transform: translateY(-8px);
    background-position: 100% 100%;
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    width: 100%;
    margin: 0;
    height: auto;
    padding: 15px;
  }
  .header__info > div {
    background-position: 100% 100%;
    width: calc(100% - 50px);
    height: calc(100% - 50px);
    margin: 0 0 0 20px;
    transform: none;
    padding: 10px 60px 55px 40px;
  }
  .header__info h1 {
    font-size: 2.4rem;
    line-height: 26px;
  }
  .header__info p {
    font-size: 1.4rem;
    margin: 0;
    line-height: 16px;
  }
}

@media (max-width: 479px) {
  #headerBanner {
    width: 180%;
    transform: translateX(-35%);
  }
  .header .owl-carousel {
    right: 0;
  }
  .hero__vector--inner {
    top: 25px;
    right: 0;
  }
  .header__info {
    width: 145%;
    transform: translateX(-12%) translateY(-8px);
  }
  .header__info > div {
    padding: 20px 65px 55px 40px;
  }
}

@media (max-width: 400px) {
  .hero__vector--inner {
    top: 15px;
  }
}

.headmodules {
  transform: translateY(-92px);
}

.headmodules .input-wrapper:hover, .headmodules .link-wrapper:hover {
  color: #3477a8;
}

.headmodules .input-wrapper:hover input, .headmodules .input-wrapper:hover a, .headmodules .link-wrapper:hover input, .headmodules .link-wrapper:hover a {
  color: #3477a8;
}

.headmodules .input-wrapper:hover svg, .headmodules .link-wrapper:hover svg {
  fill: #fff;
}

.headmodules__title--holder {
  display: table;
  width: 100%;
}

.headmodules__list {
  width: 100%;
  display: table;
  text-align: center;
  position: relative;
  z-index: 5;
}

.headmodules__list > li {
  display: table-cell;
  vertical-align: top;
  padding: 10px 13px;
  width: 25%;
}

.headmodules__list > li.single {
  width: 100%;
}

.headmodules__list > li.two {
  width: 50%;
}

.headmodules__list > li.three {
  width: 33.3333%;
}

.headmodules__list > li h2 {
  font-family: 'KaushanScript', serif;
  color: #fff;
  padding: 10px 15px 10px 20px;
  font-size: 2.5rem;
  line-height: 30px;
  display: table-cell;
  width: 100%;
  vertical-align: middle;
  text-align: left;
  margin: 0;
  position: relative;
}

.headmodules__list > li h2 svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.headmodules__list > li h2 svg path {
  fill: #000;
}

.headmodules__list > li h2 span {
  position: relative;
  z-index: 2;
}

.headmodules__list > li#mod_contact .headmodules__icon {
  background-image: url("../images/icons/mod_contact.svg");
  background-size: 40px 41px;
}

.headmodules__list > li#mod_calendar .headmodules__icon {
  background-image: url("../images/icons/mod_calendar.svg");
  background-size: 38px 46px;
}

.headmodules__list > li#mod_calendar .clock-container {
  display: none;
}

.headmodules__list > li#mod_stats .headmodules__icon {
  background-image: url("../images/icons/mod_stats.svg");
  background-size: 33px 34px;
}

.headmodules__list > li#mod_kzk .headmodules__icon {
  background-image: url("../images/icons/mod_kzk.svg");
  background-size: 34px 43px;
}

.headmodules__list > li#mod_location .headmodules__icon {
  background-image: url("../images/icons/mod_location.svg");
  background-size: 41px 41px;
}

.headmodules__list > li#mod_menu .headmodules__icon {
  background-image: url("../images/icons/mod_menu.svg");
  background-size: 50px 43px;
}

.headmodules__list > li#mod_timetable .headmodules__icon {
  background-image: url("../images/icons/mod_timetable.svg");
  background-size: 34px 37px;
}

.headmodules__list > li#mod_newsletter .headmodules__icon {
  background-image: url("../images/icons/mod_newsletter.svg");
  background-size: 34px 39px;
}

.headmodules__list > li#mod_gallery .headmodules__icon {
  background-image: url("../images/icons/mod_gallery.svg");
  background-size: 44px 42px;
}

.headmodules__list > li#mod_video .headmodules__icon {
  background-image: url("../images/icons/mod_video.svg");
  background-size: 40px 40px;
}

.headmodules__list > li#mod_jokes .headmodules__icon {
  background-image: url("../images/icons/mod_jokes.svg");
  background-size: 41px 41px;
}

.headmodules__list > li#mod_programs .headmodules__icon {
  background-image: url("../images/icons/mod_programs.svg");
  background-size: 38px 46px;
}

.headmodules__list > li#mod_login .headmodules__icon {
  background-image: url("../images/icons/mod_login.svg");
  background-size: 32px 43px;
}

.headmodules__list > li#mod_login fieldset {
  width: 160px;
  margin: 0 auto;
}

.headmodules__list > li#mod_login fieldset:before, .headmodules__list > li#mod_login fieldset:after {
  content: " ";
  display: table;
}

.headmodules__list > li#mod_login fieldset:after {
  clear: both;
}

.headmodules__list > li#mod_login input[type="text"], .headmodules__list > li#mod_login input[type="password"] {
  display: block;
  margin: 0 auto 10px;
  color: #343434;
  max-width: 320px;
}

.headmodules__list > li#mod_login label {
  max-width: 320px;
  text-align: left;
  text-transform: capitalize;
  display: block;
  margin: 0 auto 3px;
}

.headmodules__list > li#mod_login img {
  width: 100%;
  height: auto;
}

.headmodules__list > li#mod_login .user-name-wrapper {
  display: inline-block;
  text-align: left;
}

.headmodules__list > li#mod_login .user-name-wrapper:before, .headmodules__list > li#mod_login .user-name-wrapper:after {
  content: " ";
  display: table;
}

.headmodules__list > li#mod_login .user-name-wrapper:after {
  clear: both;
}

.headmodules__list > li#mod_login .user-name-wrapper .user-avatar {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  float: left;
}

.headmodules__list > li#mod_login .user-name-wrapper .user-name {
  width: calc(100% - 60px);
  float: left;
}

.headmodules__list > li#mod_login .user-name-wrapper .user-name a {
  color: #e6e600;
}

.headmodules__list > li#mod_login .user-name-wrapper .user-name + a {
  width: calc(100% - 60px);
  float: left;
}

.headmodules__list > li#mod_login .input-wrapper, .headmodules__list > li#mod_login .link-wrapper {
  margin-top: 5px;
}

.headmodules__icon {
  width: 40px;
  height: 40px;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  margin: 0 auto 10px;
}

.headmodules__content {
  padding: 15px 15px 0;
  color: #fff;
}

.headmodules__content a {
  color: #fff;
}

.headmodules__content a:hover {
  text-decoration: underline;
}

.headmodules__content p {
  margin: 0;
}

@media (max-width: 991px) {
  .headmodules {
    transform: none;
  }
  .headmodules .container {
    width: 100%;
  }
  .headmodules__list > li {
    width: 100%;
    margin: 0 auto;
    display: block;
  }
  .headmodules__list > li h2 {
    height: auto !important;
  }
}

@media (max-width: 767px) {
  .headmodules__list > li {
    display: block;
    width: 100% !important;
  }
  .headmodules__list > li h2 {
    display: block;
    text-align: center;
  }
  .headmodules__title--holder {
    display: block;
    width: 100%;
  }
}

.modules-content {
  position: relative;
  display: table;
  height: auto;
  padding-top: 5px;
  border-collapse: separate;
  border-spacing: 16px;
}

.modules-content > a {
  width: 100%;
  display: table-cell;
}

.modules-content > a.keyboard-outline {
  z-index: 1;
}

.modules-content > a:hover {
  text-decoration: none;
}

.modules-content > a:hover h2.module-name svg path {
  fill: #236200;
}

.modules-content.single {
  display: block;
}

.modules-content.single > a {
  display: block;
}

.modules-content.single > a .module-body {
  width: 104%;
  height: 220px !important;
}

.modules-content.single > a .module-body > svg {
  width: 103%;
  height: 215px;
}

.modules-content.two > a {
  transform: translateX(-18px);
}

.modules-content.two > a .module-body {
  width: 420px;
  height: 200px !important;
}

.modules-content.two > a .module-body > svg {
  width: 410px;
  height: 195px;
}

.modules-content.three > a:nth-child(2) .module-body {
  background-image: url("../images/modules/modules-main-outer-highlighted.svg");
}

.modules-content.three > a:nth-child(2):hover {
  text-decoration: none;
}

.modules-content.three > a:nth-child(2):hover h2.module-name svg path {
  fill: #125586;
}

.modules-content.three > a .module-body {
  width: 267px;
  height: 199px !important;
}

.modules-content.three > a .module-body > svg {
  width: 262px;
  height: 195px;
}

.modules-content .module-body {
  width: 100%;
  height: 220px;
  background-image: url("../images/modules/modules-main-outer.svg");
  background-size: 100% 100%;
  margin: 0 auto;
  background-repeat: no-repeat;
  padding: 0 5px 0 0;
}

.modules-content .module-body > svg {
  transform: translateX(-8px) translateY(2px);
}

.modules-content h2.module-name {
  width: 100%;
  margin: 0;
  padding-left: 20px;
  transform: translateY(-40px);
}

.modules-content:before {
  content: '';
  display: block;
  width: 906px;
  background-image: url("../images/modules/modules-bottom-border.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  left: -15px;
}

#modules-top2 {
  margin: 0 0 40px;
}

#modules-top2:before {
  height: 302px;
  top: -21px;
}

#modules-bottom {
  margin: 50px 0 10px;
}

#modules-bottom:before {
  height: 288px;
  top: 0;
}

@media (max-width: 1199px) {
  .modules-content:before {
    width: 752px;
  }
  .modules-content > a {
    margin: 0 5px;
  }
  .modules-content.two > a .module-body {
    width: 340px;
    height: 200px !important;
  }
  .modules-content.two > a .module-body > svg {
    width: 330px;
    height: 195px;
  }
  .modules-content.three > a {
    transform: translateX(-36px);
  }
  .modules-content.three > a .module-body {
    width: 232px;
    height: 193px !important;
  }
  .modules-content.three > a .module-body > svg {
    width: 230px;
    height: 180px;
  }
}

@media (max-width: 991px) {
  #modules-top2-mobile, #modules-bottom-mobile {
    background-color: #fff;
    width: calc(100% + 30px);
    transform: translateX(-15px);
    margin: 20px 0;
  }
  #modules-top2, #modules-bottom {
    margin: 0 auto 10px;
  }
  .modules-content {
    width: 750px;
    padding-bottom: 30px;
  }
  .modules-content:before {
    display: none;
  }
  .modules-content > a {
    transform: none !important;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .modules-content.single > a {
    width: 100%;
  }
}

@media (max-width: 767px) {
  #modules-bottom-mobile {
    margin-bottom: 0;
  }
  .modules-content {
    width: 100%;
    display: block;
    padding: 15px 0 10px;
  }
  .modules-content > a {
    display: block;
    margin: 15px auto;
    width: 267px;
    height: 235px;
  }
  .modules-content > a .module-body {
    width: 267px !important;
    height: 199px !important;
  }
  .modules-content > a .module-body > svg {
    width: 262px !important;
    height: 195px !important;
  }
}

.sidebar-menu > ul {
  position: relative;
  width: calc(100% + 24px);
}

.sidebar-menu li {
  display: block;
}

.sidebar-menu li a {
  display: block;
  font-size: 1.5rem;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 30px;
  color: #fff;
}

.sidebar-menu li a.selected, .sidebar-menu li a:hover, .sidebar-menu li a:focus {
  color: #3477a8;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  text-decoration: none;
  background-image: url("../images/aside-menu.svg");
}

.sidebar-menu li a + .dropdown-menu {
  margin: 0 0 0 15px;
  position: static;
  border: 0;
  background-color: transparent;
  overflow: auto;
  box-shadow: none;
  float: none;
  font-size: 1.6rem;
  line-height: 18px;
  border-radius: 0;
}

.sidebar-modules {
  color: #fff;
}

.sidebar-modules .link-wrapper:hover {
  color: #3477a8;
}

.sidebar-modules .link-wrapper:hover a {
  color: #3477a8;
}

.sidebar-modules .link-wrapper:hover svg {
  fill: #fff;
}

.sidebar-modules .input-wrapper {
  color: #3477a8;
}

.sidebar-modules .input-wrapper svg {
  fill: #fff;
}

.sidebar-modules .input-wrapper:hover {
  color: #fff;
}

.sidebar-modules .input-wrapper:hover input {
  color: #fff;
}

.sidebar-modules .input-wrapper:hover svg {
  fill: #458418;
}

.sidebar-modules a {
  color: #fff;
  text-decoration: none;
}

.sidebar-modules a:hover {
  text-decoration: underline;
}

.sidebar-modules .module {
  margin: 10px 0;
}

.sidebar-modules .module-content {
  position: relative;
  padding: 10px 45px 5px 25px;
}

.sidebar-modules .module-content p {
  margin: 0;
}

.sidebar-modules .module-content:before {
  content: '';
  display: block;
  position: absolute;
  top: 5px;
  right: 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.sidebar-modules #mod_contact .module-content {
  padding-right: 35px;
}

.sidebar-modules #mod_contact .module-content:before {
  width: 41px;
  height: 49px;
  background-image: url("../images/icons/mod_contact.svg");
}

.sidebar-modules #mod_forum .module-content .bolder, .sidebar-modules #mod_forum .module-content #modForum {
  display: none;
}

.sidebar-modules #mod_forum .module-content:before {
  width: 41px;
  height: 42px;
  background-image: url("../images/icons/mod_forum.svg");
}

.sidebar-modules #mod_forum .module-content .button {
  display: inline-block;
  position: relative;
  font-size: 0;
  padding: 14px 16px 12px;
}

.sidebar-modules #mod_forum .module-content .button span {
  color: #3477a8;
  text-transform: uppercase;
  line-height: 16px;
  font-weight: 700;
  text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
  z-index: 2;
  position: relative;
  font-size: 1.4rem;
}

.sidebar-modules #mod_forum .module-content .button svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: #fff;
}

.sidebar-modules #mod_forum .module-content .button:hover {
  text-decoration: none;
}

.sidebar-modules #mod_forum .module-content .button:hover span {
  color: #fff;
  text-shadow: none;
}

.sidebar-modules #mod_forum .module-content .button:hover svg {
  fill: #458418;
}

.sidebar-modules #mod_login label {
  padding: 0 0 0 5px;
  margin: 0 0 3px;
  display: block;
  text-transform: capitalize;
}

.sidebar-modules #mod_login input[type="text"], .sidebar-modules #mod_login input[type="password"] {
  margin: 0 0 10px;
  max-width: 160px;
  display: block;
  color: #343434;
}

.sidebar-modules #mod_login input[type="submit"] {
  display: block;
}

.sidebar-modules #mod_login .user-name-wrapper {
  text-align: center;
}

.sidebar-modules #mod_login .user-name-wrapper .user-avatar {
  width: 50px;
  height: 50px;
  margin: 0 auto 5px;
}

.sidebar-modules #mod_login .user-name a {
  color: #e6e600;
}

.sidebar-modules #mod_login .module-content:before {
  width: 35px;
  height: 46px;
  right: 5px;
  background-image: url("../images/icons/lock.svg");
}

.sidebar-modules #mod_video .module-content:before {
  top: 2px;
  width: 42px;
  height: 43px;
  background-image: url("../images/icons/mod_video.svg");
}

.sidebar-modules #mod_programs .module-content:before {
  width: 37px;
  height: 45px;
  background-image: url("../images/icons/mod_programs.svg");
}

.sidebar-modules #mod_jokes .module-content:before {
  top: -3px;
  width: 44px;
  height: 43px;
  background-image: url("../images/icons/mod_jokes.svg");
}

.sidebar-modules #mod_questionnaire .module-content {
  padding-right: 10px;
}

.sidebar-modules #mod_questionnaire .module-content p {
  margin: 0 0 20px;
}

.sidebar-modules #mod_questionnaire .module-content:before {
  display: none;
}

.sidebar-modules #mod_questionnaire li:before, .sidebar-modules #mod_questionnaire li:after {
  content: " ";
  display: table;
}

.sidebar-modules #mod_questionnaire li:after {
  clear: both;
}

.sidebar-modules #mod_questionnaire li > input {
  float: left;
  width: 13px;
}

.sidebar-modules #mod_questionnaire li > label {
  transform: translateY(-8px);
  width: calc(100% - 15px);
  float: right;
}

.sidebar-modules #mod_questionnaire .label {
  white-space: normal;
}

.sidebar-modules #mod_questionnaire .input-wrapper {
  margin-top: 15px;
}

.sidebar-modules #mod_questionnaire .buttonWrapper {
  display: inline-block;
  position: relative;
  color: #3477a8;
  text-transform: uppercase;
}

.sidebar-modules #mod_questionnaire .buttonWrapper a {
  position: relative;
  width: 100%;
  z-index: 2;
  font-size: 1.4rem;
  line-height: 40px;
  font-weight: 700;
  padding: 0 21px;
  text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
  color: currentColor;
}

.sidebar-modules #mod_questionnaire .buttonWrapper a:hover {
  text-decoration: none !important;
}

.sidebar-modules #mod_questionnaire .buttonWrapper svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: #fff;
}

.sidebar-modules #mod_questionnaire .buttonWrapper:hover a {
  color: #fff;
  text-decoration: none;
}

.sidebar-modules #mod_questionnaire .buttonWrapper:hover svg {
  fill: #458418;
}

.sidebar-modules #mod_calendar2 .module-content {
  padding: 0;
}

.sidebar-modules #mod_calendar2 .module-content .calendar {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  border-collapse: collapse;
  table-layout: fixed;
}

.sidebar-modules #mod_calendar2 .module-content .calendar td, .sidebar-modules #mod_calendar2 .module-content .calendar th {
  width: 35px;
  height: 35px;
  text-align: center;
  vertical-align: middle;
}

.sidebar-modules #mod_calendar2 .module-content .calendar tr td:not(:first-child), .sidebar-modules #mod_calendar2 .module-content .calendar tr th:not(:first-child) {
  border-left: 1px solid #4a8fc1;
}

.sidebar-modules #mod_calendar2 .module-content .calendar tr td:not(:last-child), .sidebar-modules #mod_calendar2 .module-content .calendar tr th:not(:last-child) {
  border-right: 1px solid #4a8fc1;
}

.sidebar-modules #mod_calendar2 .module-content .calendar th {
  border-bottom: 4px solid #4a8fc1;
}

.sidebar-modules #mod_calendar2 .module-content .calendar td.pr_day {
  background-color: #4a8fc1;
}

.sidebar-modules #mod_calendar2 .module-content .calendar td.imp_day {
  background-color: #fff;
}

.sidebar-modules #mod_calendar2 .module-content .calendar td.imp_day a {
  color: #3477a8;
  text-decoration: none;
}

.sidebar-modules #mod_calendar2 .module-content .calendar td.imp_day a:hover {
  text-decoration: underline;
}

.sidebar-modules #mod_calendar2 .module-content .calendar caption {
  font-size: 1.6rem;
  font-weight: 700;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
}

.sidebar-modules #mod_calendar2 .module-content .caption_nav_prev, .sidebar-modules #mod_calendar2 .module-content .caption_nav_next {
  width: 33px;
  height: 35px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: block;
  font-size: 0;
  line-height: 35px;
  text-align: center;
  position: absolute;
  top: 2px;
}

.sidebar-modules #mod_calendar2 .module-content .caption_nav_prev a, .sidebar-modules #mod_calendar2 .module-content .caption_nav_next a {
  display: block;
  margin: 0 auto;
  width: 33px;
  height: 35px;
  background-size: 12px 17px;
  background-position: center center;
  background-repeat: no-repeat;
}

.sidebar-modules #mod_calendar2 .module-content .caption_nav_prev i, .sidebar-modules #mod_calendar2 .module-content .caption_nav_next i {
  display: none;
}

.sidebar-modules #mod_calendar2 .module-content .caption_nav_prev {
  float: left;
  left: calc(50% - 120px);
  background-image: url("../images/calendar/calendar-left.svg");
}

.sidebar-modules #mod_calendar2 .module-content .caption_nav_prev a {
  background-image: url("../images/calendar/calendar-left-arrow.svg");
}

.sidebar-modules #mod_calendar2 .module-content .caption_nav_next {
  float: right;
  right: calc(50% - 120px);
  background-image: url("../images/calendar/calendar-right.svg");
}

.sidebar-modules #mod_calendar2 .module-content .caption_nav_next a {
  background-image: url("../images/calendar/calendar-right-arrow.svg");
}

.sidebar-modules #mod_calendar .module-content {
  padding-right: 55px;
}

.sidebar-modules #mod_calendar .module-content:before {
  display: none;
}

.sidebar-modules #mod_calendar .clock-container {
  width: 70px;
  height: 70px;
  top: 0;
  right: 0;
  position: absolute;
}

.sidebar-modules #mod_calendar p {
  width: calc(100% - 5px);
  margin: 0 0 5px;
}

.sidebar-modules #mod_calendar span {
  font-weight: 700;
}

.sidebar-modules #mod_menu .module-content:before {
  top: 0;
  right: 0;
  width: 54px;
  height: 46px;
  background-image: url("../images/icons/mod_menu.svg");
}

.sidebar-modules #mod_gallery .module-content:before {
  width: 46px;
  height: 44px;
  right: 0;
  background-image: url("../images/icons/mod_gallery.svg");
}

.sidebar-modules #mod_location .module-content:before {
  width: 43px;
  height: 44px;
  right: 0;
  background-image: url("../images/icons/mod_location.svg");
}

.sidebar-modules #mod_timetable .module-content:before {
  width: 37px;
  height: 40px;
  background-image: url("../images/icons/mod_timetable.svg");
}

.sidebar-modules #mod_kzk .module-content:before {
  width: 41px;
  height: 49px;
  background-image: url("../images/icons/mod_kzk.svg");
}

.sidebar-modules #mod_stats .module-content:before {
  width: 36px;
  height: 36px;
  background-image: url("../images/icons/mod_stats.svg");
}

.sidebar-modules #mod_weather .module-content {
  padding: 10px 25px;
  text-align: center;
}

.sidebar-modules #mod_weather .module-content:before {
  display: none;
}

.sidebar-modules #mod_newsletter .module-content:before {
  width: 37px;
  height: 41px;
  background-image: url("../images/icons/mod_newsletter.svg");
}

@media (max-width: 1199px) {
  .sidebar-modules .module-content:before, .sidebar-modules #mod_login .module-content:before {
    right: -10px;
  }
  .sidebar-modules #mod_calendar2 .module-content {
    transform: none;
  }
  .sidebar-modules #mod_calendar2 .module-content .calendar {
    width: 210px;
  }
  .sidebar-modules #mod_calendar2 .module-content .calendar td, .sidebar-modules #mod_calendar2 .module-content .calendar th {
    width: 30px;
    height: 30px;
  }
  .sidebar-modules #mod_calendar2 .module-content .caption_nav_prev {
    left: calc(50% - 105px);
  }
  .sidebar-modules #mod_calendar2 .module-content .caption_nav_next {
    right: calc(50% - 105px);
  }
}

@media (min-width: 992px) {
  .aside {
    padding-bottom: 65px;
  }
  .sidebar-menu {
    margin: 5px 0 0;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .sidebar-modules .module {
    width: 100% !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .sidebar-modules {
    font-size: 0;
  }
  .sidebar-modules > div {
    font-size: 1.4rem;
    display: inline-block;
    float: none;
    vertical-align: middle;
  }
}

@media (max-width: 991px) {
  .sidebar-menu {
    margin: 15px 0;
  }
  .sidebar-menu > ul {
    width: 100%;
  }
  h2.module-name {
    width: 100%;
  }
  .sidebar-modules {
    padding: 0 15px;
  }
  .sidebar-modules .module {
    margin-left: auto;
    margin-right: auto;
  }
  .sidebar-modules .module .module-content:before {
    right: 0;
  }
  .sidebar-modules #mod_questionnaire .module-content {
    margin: 0 auto;
    width: 160px;
    padding: 0;
  }
  #mod_login fieldset, #mod_questionnaire fieldset {
    margin: 0 auto;
    width: 160px;
  }
}

.article {
  padding: 20px 30px;
  margin: 20px 0;
  width: calc(100% + 25px);
  position: relative;
}

.article:after {
  content: '';
  display: table;
  clear: both;
}

.article.highlight-article {
  background-image: url("../images/article/article-highlighted.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.article.highlight-article:before {
  content: '';
  display: block;
  position: absolute;
  top: 9%;
  right: 20px;
  width: 23px;
  height: 22px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url("../images/article/article-star.svg");
}

.article .photo {
  background-image: url("../images/article/article-outer.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 270px;
  height: 230px;
  margin: 0 20px 0 0;
  float: left;
}

.article .photo .shape {
  transform: translateY(10px) translateX(-10px);
  width: 280px;
  height: 220px;
  background-image: url("../images/article/article-outer2.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.article .photo + .lead-text {
  width: calc(100% - 290px);
  padding: 0 20px 0 0;
  float: right;
}

.article h4 {
  font-family: 'Roboto', sans-serif;
  margin: 20px 0;
  font-weight: bold;
}

.article h4 a {
  color: #458418;
  font-size: 2.2rem;
  line-height: 24px;
}

.article h4 a:after {
  content: '';
  margin-left: 8px;
  display: inline-block;
  background-image: url("../images/article/article-link.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 8px;
  height: 12px;
}

.article a {
  color: #343434;
}

.article .article-date {
  color: #979797;
  display: block;
  float: left;
  margin: 10px 0 0;
}

.article .article-date svg {
  margin: 0 6px 0 0;
  display: inline-block;
}

.article .article-meta {
  display: block;
  float: right;
}

.article .article-meta .button {
  display: inline-block;
  position: relative;
  color: #fff;
  transition: background-color .3s ease;
}

.article .article-meta .button svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: #458418;
}

.article .article-meta .button .text {
  position: relative;
  text-transform: uppercase;
  text-align: center;
  line-height: 40px;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 0;
  z-index: 2;
  padding: 0 21px;
  text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
  color: currentColor;
}

.article .article-meta .button:hover {
  text-decoration: none;
}

.article .article-meta .button:hover svg {
  fill: #3477a8;
}

@media (max-width: 767px) {
  .article {
    width: 100%;
    display: block;
  }
  .article .photo {
    display: block;
    margin: 0 auto;
    float: none;
  }
  .article .photo + .lead-text {
    width: 100%;
    padding: 0;
  }
}

@media (max-width: 479px) {
  .article .article-date, .article .article-meta {
    float: none;
  }
  .article .article-date {
    margin-bottom: 10px;
  }
}

@media (max-width: 449px) {
  .article.highlight-article:before {
    display: none;
  }
}

@media (max-width: 359px) {
  .article .photo {
    transform: scale(0.8);
    transform-origin: 0 70%;
  }
}

.pagination-wrapper {
  display: inline-block;
  padding: 0 0 0 25px;
  margin: 0 0 50px;
}

.pagination-wrapper p {
  display: none;
}

.pagination-wrapper ul li {
  margin: 5px 0;
}

.pagination-wrapper ul li a {
  display: inline-block;
  position: relative;
  height: 35px;
  line-height: 35px;
  width: 33px;
  text-align: center;
}

.pagination-wrapper ul li a .text {
  position: relative;
  z-index: 2;
  text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
  color: #fff;
}

.pagination-wrapper ul li a:hover {
  text-decoration: none;
}

.pagination-wrapper ul li a:hover .pagination__background {
  fill: #3477a8;
}

.pagination-wrapper ul li a.btn-first, .pagination-wrapper ul li a.btn-prev {
  transform: rotate(180deg);
}

.pagination__arrow {
  display: inline-block;
  position: relative;
  z-index: 2;
  transform: translateY(5px);
}

.pagination__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: #458418;
}

.formL {
  width: 160px;
  float: left;
  text-align: left;
  padding: 0 5px;
}

.formL label, .formL .formLabel {
  margin: 0;
  line-height: 32px;
  font-weight: bold;
}

.formR {
  width: calc(100% - 160px);
  float: right;
}

.formR:before, .formR:after {
  content: " ";
  display: table;
}

.formR:after {
  clear: both;
}

.formR input[type="text"], .formR input[type="password"], .formR textarea {
  width: 100%;
}

.formR textarea {
  resize: none;
}

.formR + .clear {
  clear: both;
  margin: 3px 0;
  display: block;
}

.formR .captchaTxt {
  float: left;
  width: 110px;
  margin: 0 10px 0 0;
  line-height: 32px;
}

.formR .captchaTxt + input {
  width: 100px;
  float: left;
}

.formR input#avatar {
  float: left;
  width: calc(100% - 150px);
}

.formR input#avatar + .file_input_div {
  width: 150px;
  height: 40px;
  float: left;
}

.formR input#avatar + .file_input_div #btnFilePos {
  pointer-events: none;
  margin: 0 0 0 10px;
}

.formR input#avatar + .file_input_div #avatar_f {
  opacity: 0;
  width: 110px;
  height: 40px;
  cursor: pointer;
  transform: translateY(-40px);
  margin: 0;
}

.formR .comment {
  clear: both;
}

@media (max-width: 639px) {
  .formL {
    float: none;
    width: 100%;
  }
  .formL label {
    line-height: 18px;
    margin: 0 0 3px;
  }
  .formR {
    float: none;
    width: 100%;
  }
  .formR + .clear {
    display: none;
  }
  .formR .captchaTxt {
    display: inline-block;
    float: none;
    width: auto;
  }
  .formR .captchaTxt + input {
    float: none;
    display: inline-block;
  }
  .formR p {
    margin: 0;
  }
}

.main {
  background-color: #fff;
  margin: 0;
  color: #343434;
}

#content-mobile {
  width: calc(100% + 30px);
  transform: translateX(-15px);
  background-color: #fff;
  padding: 15px;
}

p.mail {
  word-break: break-all;
}

.delete-avatar {
  color: #458418;
  margin-left: 5px;
}

.delete-avatar:hover {
  text-decoration: underline;
}

#crumbpath {
  margin: 20px 0 5px 10px;
  font-size: 1.4rem;
  line-height: 18px;
  position: relative;
  z-index: 2;
}

#crumbpath a {
  color: #3477a8;
}

iframe + br + small a {
  display: block;
  margin: 0 auto;
  text-align: center !important;
  color: #3477a8 !important;
}

#content_txt {
  padding: 0 10px;
}

.gallery-wrapper .gallery {
  margin-bottom: 15px;
  font-size: 0;
}

.gallery-wrapper .gallery > li {
  float: none;
  display: inline-block;
  vertical-align: top;
}

.gallery-wrapper .gallery .photo {
  background-image: url("../images/article/article-outer.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 255px;
  height: 219px;
  margin: 0 20px 40px 0;
}

.gallery-wrapper .gallery .photo .shape {
  transform: translateY(10px) translateX(-10px);
  width: 280px;
  height: 220px;
  background-image: url("../images/article/article-outer2.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.gallery-wrapper .gallery .photo-name {
  position: relative;
  background-color: transparent;
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  margin: 2px auto;
  z-index: 2;
  color: #fff;
  width: 285px;
  transform: translateY(-55px) translateX(-10px);
  text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
}

.gallery-wrapper .gallery .photo-name svg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  fill: #3477a8;
}

.gallery-wrapper .gallery .photo-name span {
  position: relative;
  z-index: 3;
  display: inline-block;
  padding: 12px 21px;
}

.gallery-wrapper .gallery .photo-name span:empty {
  display: none;
}

.gallery__imgholder {
  display: none;
}

.advertLeft {
  margin: 35px 0 5px;
  color: #fff;
}

.advertLeft img {
  width: 190px !important;
  height: auto;
  margin: 0 auto;
  display: block;
}

.advertLeft table {
  width: 100%;
  border-collapse: collapse;
}

.advertLeft table th, .advertLeft table td {
  padding: 3px;
  border: 1px solid #fff;
}

.advertLeft a {
  color: #fff;
  text-decoration: underline;
}

.advertLeft a:hover {
  text-decoration: none;
}

.search-list .search-text {
  padding-bottom: 5px;
  border-bottom: 1px solid #458418;
}

.search-list h3 {
  font-family: 'Roboto', sans-serif;
  color: #458418;
  font-weight: bold;
  font-size: 2.2rem;
  line-height: 24px;
}

.search-list a {
  color: #458418;
}

.search-list a:hover {
  color: #3477a8;
  text-decoration: none;
}

.tableTopics, .timetable {
  border: 1px solid #458418;
  border-collapse: collapse;
}

.tableTopics th, .tableTopics td, .timetable th, .timetable td {
  border: 1px solid #458418;
}

.tableTopics caption, .timetable caption {
  color: #458418;
}

.advertTop {
  text-align: center;
  margin-top: 25px;
}

.advertTop table {
  margin: 0 auto;
  border-collapse: collapse;
}

.advertTop table th, .advertTop table td {
  padding: 3px;
  border: 1px solid #3477a8;
}

.advertTop img {
  width: 700px !important;
  height: auto;
  margin: 5px auto 0;
  display: block;
}

body#tinymce {
  color: #343434;
  font-family: 'Roboto', sans-serif !important;
}

body#tinymce h3, body#tinymce h4, body#tinymce h5 {
  margin: 10px 0;
  border: 0;
  padding: 0;
  background: none;
}

body#tinymce h3 {
  font-size: 2.4rem;
}

body#tinymce h4 {
  font-size: 2.2rem;
}

body#tinymce h5 {
  font-size: 2rem;
}

body#tinymce h6 {
  font-size: 1.8rem;
}

body#tinymce table {
  border-collapse: collapse;
}

body#tinymce table caption, body#tinymce table td, body#tinymce table th {
  padding: 5px;
  border: 1px solid #3477a8 !important;
}

body#tinymce table caption {
  border-bottom: 0 !important;
}

body#tinymce a {
  text-decoration: underline;
}

#welcome {
  margin-bottom: 20px;
}

#welcome table {
  border-color: #3477a8 !important;
}

#welcome a {
  text-decoration: underline;
}

#welcome a:hover {
  text-decoration: none;
}

#welcome a, #board a {
  display: block;
}

#welcome ul li, #board ul li {
  list-style-type: disc;
  list-style-position: inside;
}

#welcome table caption, #welcome table td, #welcome table th, #board table caption, #board table td, #board table th {
  padding: 5px;
}

@media (max-width: 1199px) {
  .gallery-wrapper {
    text-align: center;
  }
  .gallery-wrapper .gallery li {
    display: inline-block;
    width: 45%;
    float: none;
  }
  .gallery-wrapper .gallery .photo {
    margin: 15px auto 30px;
  }
  .gallery-wrapper .gallery .photo-name {
    transform: translateY(-40px);
  }
}

@media (max-width: 991px) {
  .main {
    display: none;
  }
  .aside {
    height: auto !important;
  }
  #crumbpath {
    margin-left: 0;
  }
  .page-content .container {
    width: 100%;
  }
  .advertLeft img {
    margin-top: 5px;
  }
}

@media (max-width: 700px) {
  .gallery-wrapper .gallery li {
    width: 100%;
    display: block;
  }
}

@media (max-width: 639px) {
  .citaBlock {
    margin: 15px;
  }
}

.topicText, .postText {
  padding: 10px 0;
  border-top: 1px solid #458418;
  border-bottom: 1px solid #458418;
}

.topicText:before, .topicText:after, .postText:before, .postText:after {
  content: " ";
  display: table;
}

.topicText:after, .postText:after {
  clear: both;
}

.topicAuthor, .postAuthor {
  float: left;
  width: 130px;
}

.topicAuthor img, .topicAuthor .author, .postAuthor img, .postAuthor .author {
  display: block;
  margin: 2px auto;
  text-align: center;
}

.topicDate, .topicHour, .postDate, .postHour {
  width: 100%;
  text-align: center;
  display: block;
  margin: 0 0 3px;
}

.topicContent, .postContent {
  float: right;
  width: calc(100% - 130px);
}

.respondButtonList, #forumActions {
  margin: 5px 0;
  display: block;
}

.respondButtonList li, #forumActions li {
  display: inline-block;
  margin-right: 5px;
}

.forum-threads-wrapper {
  margin: 20px 0;
}

@media (max-width: 639px) {
  .topicDate, .topicHour, .postDate, .postHour {
    display: inline-block;
    width: auto;
    margin: 0 3px 0 0;
  }
  .topicAuthor, .postAuthor {
    float: none;
    padding-bottom: 3px;
    margin-bottom: 10px;
    width: 100%;
    border-bottom: 1px dashed #458418;
    float: none;
  }
  .topicAuthor .author, .postAuthor .author {
    display: inline-block;
    margin: 0 0 0 10px;
  }
  .topicAuthor img, .postAuthor img {
    display: none;
  }
  .topicContent, .postContent {
    width: 100%;
    float: none;
  }
}

.page-footer {
  margin: 0 auto;
  width: 1235px;
  transform: translateX(-35px) translateY(-33px);
  margin-bottom: -18px;
  background-position: 0 0;
  background-size: 100% 100%;
  background-image: url("../images/toolbar/menu-outer.svg");
  background-repeat: no-repeat;
  position: relative;
  padding: 30px 40px 30px 35px;
}

.page-footer ul {
  background-image: url("../images/toolbar/menu-inner.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0;
  text-align: center;
}

.page-footer ul li {
  display: inline-block;
  font-size: 1.4rem;
}

.page-footer ul li:last-child {
  margin-right: 0;
}

.page-footer ul li a {
  position: relative;
  display: block;
  font-weight: 700;
  color: #fff;
  text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
  padding: 10px 20px;
  line-height: 27px;
}

.page-footer ul li a:before, .page-footer ul li a:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  pointer-events: none;
  display: block;
  line-height: 47px;
  border-style: solid;
  bottom: 0;
}

.page-footer ul li a:before {
  left: 0;
  border-width: 47px 0 0 2px;
  border-color: transparent transparent transparent #458418;
}

.page-footer ul li a:after {
  right: 0;
  border-width: 0 0 47px 4px;
  border-color: transparent transparent #458418 transparent;
}

.page-footer ul li a.selected, .page-footer ul li a:hover {
  color: #458418;
  background-color: #fff;
  text-decoration: none;
}

.page-footer ul li a .title {
  text-transform: uppercase;
}

.page-footer ul li a .title .protectedPage {
  margin-left: 5px;
  display: inline-block;
  vertical-align: baseline;
  line-height: 0;
}

.page-footer ul li a .title .protectedPage i {
  display: inline-block;
  position: relative;
}

.footer--copyright {
  color: #fff;
  text-align: center;
  margin: 10px 0 0;
  font-size: 1.2rem;
}

.footer--copyright a {
  color: #fff;
}

.footer--gotop {
  background-color: #fff;
  color: #3477a8;
  width: 100%;
  font-size: 1.6rem;
  height: 60px;
  line-height: 60px;
  text-align: center;
  display: none;
}

@media (max-width: 1199px) {
  .page-footer {
    width: 1035px;
  }
}

@media (max-width: 991px) {
  .page-footer {
    display: none;
    margin-bottom: 0;
  }
  .footer--copyright {
    margin: 5px 0 30px;
  }
  .footer--gotop {
    display: block;
  }
}

@media (max-width: 767px) {
  .page-footer {
    display: none;
  }
  .footer--copyright {
    margin-top: 25px;
  }
}
