@media screen and (min-width: 992px) {
    html {font-size: 75%;}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    html {font-size: 68.75%;}
}
.toolbar__links li { margin: 0 5px 0 0; }
.toolbar__links li a { width: 130px; }