.article {
	padding: 20px 30px;	
	margin: 20px 0;
	width: calc(100% + 25px);
	position: relative;
	&:after {
		content: '';
		display: table;
		clear: both;
	}
	&.highlight-article {
		background-image: url('../images/article/article-highlighted.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 9%;
			right: 20px;
			width: 23px;
			height: 22px;
			background-size: 100% 100%;
			background-repeat: no-repeat;
			background-image: url('../images/article/article-star.svg');
		}
	}
	.photo {
		background-image: url('../images/article/article-outer.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		width: 270px;
		height: 230px;
		margin: 0 20px 0 0;
		float: left;
		.shape {
			transform: translateY(10px) translateX(-10px);
			width: 280px;
			height: 220px;
			background-image: url('../images/article/article-outer2.svg');
			background-repeat: no-repeat;
			background-size: 100% 100%;
		}
		& + .lead-text {
			width: calc(100% - 290px);
			padding: 0 20px 0 0;
			float: right;
		}
	}
	h4 {
		font-family: 'Roboto', sans-serif;
		margin: 20px 0;
		font-weight: bold;
		a {
			color: $color2;
			font-size: 2.2rem;
			line-height: 24px;
			&:after {
				content: '';
				margin-left: 8px;
				display: inline-block;
				background-image: url('../images/article/article-link.svg');
				background-repeat: no-repeat;
				background-size: 100% 100%;
				width: 8px;
				height: 12px;
			}
		}
	}
	a {
		color: $basic;
	}
	.article-date {
		color: #979797;
		display: block;
		float: left;
		margin: 10px 0 0;
		svg {
			margin: 0 6px 0 0;
			display: inline-block;
		}
	}
	.article-meta {
		display: block;
		float: right;
		.button {
			display: inline-block;
			position: relative;
			color: #fff;
				transition: background-color .3s ease;
			svg {
				@include full();
				fill: $color2;
			}
			.text {
				position: relative;
				text-transform: uppercase;
				text-align: center;
				line-height: 40px;
				font-weight: 700;
				font-size: 1.4rem;
				margin: 0;
				z-index: 2;
				padding: 0 21px;
				text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
				color: currentColor;
			}
			&:hover {
				text-decoration: none;
				svg {
					fill: $color1;
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.article {
		width: 100%;
		display: block;
		.photo {
			display: block;
			margin: 0 auto;
			float: none;
			& + .lead-text {
				width: 100%;
				padding: 0;
			}
		}
	}
}
@media (max-width: 479px) {
	.article {
		.article-date, .article-meta {
			float: none;
		}
		.article-date {
			margin-bottom: 10px;
		}
	}
}
@media (max-width: 449px) {
	.article {
		&.highlight-article {
			&:before {
				display: none;
			}
		}
	}
}
@media (max-width: 359px) {
	.article {
		.photo {
			transform: scale(0.8);
			transform-origin: 0 70%;
		}
	}
}