.sidebar-menu {
	& > ul {
		position: relative;
		width: calc(100% + 24px);
	}
	li {
		display: block;
		a {
			display: block;
			font-size: 1.5rem;
			line-height: 18px;
			text-transform: uppercase;
			font-weight: 700;
			padding: 10px 30px;
			color: #fff;
			&.selected, &:hover, &:focus {
				color: $color1;
				background-repeat: no-repeat;
				background-size: 100% 100%;
				text-decoration: none;
				background-image: url('../images/aside-menu.svg');
			}
			& + .dropdown-menu {
				margin: 0 0 0 15px;
				position: static;
				border: 0;
				background-color: transparent;
				overflow: auto;
				box-shadow: none;
				float: none;
				font-size: 1.6rem;
				line-height: 18px;
				border-radius: 0;
			}
		}
	}
}
.sidebar-modules {
	.link-wrapper {
		&:hover {
			color: $color1;
			a {
				color: $color1;
			}
			svg {
				fill: #fff;
			}
		}
	}
	.input-wrapper {
		color: $color1;
		svg {
			fill: #fff;
		}
		&:hover {
			color: #fff;
			input {
				color: #fff;
			}
			svg {
				fill: $color2;
			}
		}
	}
	color: #fff;
	a {
		color: #fff;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	.module {
		margin: 10px 0;
	}
	.module-content {
		position: relative;
		padding: 10px 45px 5px 25px;
		p {
			margin: 0;
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 5px;
			right: 0;
			background-size: 100% 100%;
			background-repeat: no-repeat;
		}
	}
	#mod_contact {
		.module-content {
			padding-right: 35px;
			&:before {
				width: 41px;
				height: 49px;
				background-image: url('../images/icons/mod_contact.svg');
			}
		}
	}
	#mod_forum {
		.module-content {
			.bolder, #modForum {
				display: none;
			}
			&:before {
				width: 41px;
				height: 42px;
				background-image: url('../images/icons/mod_forum.svg');
			}
			.button {
				display: inline-block;
				position: relative;
				font-size: 0;
				padding: 14px 16px 12px;
				span {
					color: $color1;
					text-transform: uppercase;
					line-height: 16px;
					font-weight: 700;
					text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
					z-index: 2;
					position: relative;
					font-size: 1.4rem;
				}
				svg {
					@include full();
					fill: #fff;
				}
				&:hover {
					text-decoration: none;
					span {
						color: #fff;
						text-shadow: none;
					}
					svg {
						fill: $color2;
					}
				}
			}
		}
	}
	#mod_login {
		label {
			padding: 0 0 0 5px;
			margin: 0 0 3px;
			display: block;
			text-transform: capitalize;
		}
		input[type="text"], input[type="password"] {
			margin: 0 0 10px;
			max-width: 160px;
			display: block;
			color: $basic;
		}
		input[type="submit"] {
			display: block;
		}
		.user-name-wrapper {
			text-align: center;
			.user-avatar {
				width: 50px;
				height: 50px;
				margin: 0 auto 5px;
			}
		}
		.user-name {
			a {
				color: $color3;
			}
		}
		.module-content {
			&:before {
				width: 35px;
				height: 46px;
				right: 5px;
				background-image: url('../images/icons/lock.svg');
			}
		}
	}
	#mod_video {
		.module-content {
			&:before {
				top: 2px;
				width: 42px;
				height: 43px;
				background-image: url('../images/icons/mod_video.svg');
			}
		}
	}
	#mod_programs {
		.module-content {
			&:before {
				width: 37px;
				height: 45px;
				background-image: url('../images/icons/mod_programs.svg');
			}
		}
	}
	#mod_jokes {
		.module-content {
			&:before {
				top: -3px;
				width: 44px;
				height: 43px;
				background-image: url('../images/icons/mod_jokes.svg');
			}
		}
	}
	#mod_questionnaire {
		.module-content {
			padding-right: 10px;
			p {
				margin: 0 0 20px;
			}
			&:before {
				display: none;
			}
		}
		li {
			@include clearfix();
			& > input {
				float: left;
				width: 13px;
			}
			& > label {
				transform: translateY(-8px);
				width: calc(100% - 15px);
				float: right;
			}
		}
		.label {
			white-space: normal;
		}
		.input-wrapper {
			margin-top: 15px;
		}
		.buttonWrapper {
			display: inline-block;
			position: relative;
			color: $color1;
			text-transform: uppercase;
			a {
				position: relative;
				width: 100%;
				z-index: 2;
				font-size: 1.4rem;
				line-height: 40px;
				font-weight: 700;
				padding: 0 21px;
				text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
				color: currentColor;
				&:hover {
					text-decoration: none !important;
				}
			}
			svg {
				@include full();
				fill: #fff;
			}
			&:hover {
				a {
					color: #fff;
					text-decoration: none;
				}
				svg {
					fill: $color2;
				}
			}
		}
	}
	#mod_calendar2 {
		.module-content {
			padding: 0;
			.calendar {
				text-align: center;
				width: 250px;
				margin: 0 auto;
				border-collapse: collapse;
				table-layout: fixed;
				td, th {
					width: 35px;
					height: 35px;
					text-align: center;
					vertical-align: middle;
				}
				tr {
					td, th {
						&:not(:first-child) {
							border-left: 1px solid #4a8fc1;
						}
						&:not(:last-child){ 
							border-right: 1px solid #4a8fc1;
						}
					}
				}
				th {
					border-bottom: 4px solid #4a8fc1;
				}
				td {
					&.pr_day {
						background-color: #4a8fc1;
					}
					&.imp_day {
						background-color: #fff;
						a {
							color: $color1;
							text-decoration: none;
							&:hover {
								text-decoration: underline;
							}
						}
					}
				}
				caption {
					font-size: 1.6rem;
					font-weight: 700;
					color: #fff;
					margin-bottom: 10px;
					text-align: center;
				}
			}
			.caption_nav_prev, .caption_nav_next  {
				width: 33px;
				height: 35px;
				background-size: 100% 100%;
				background-repeat: no-repeat;
				display: block;
				font-size: 0;
				line-height: 35px;
				text-align: center;
				position: absolute;
				top: 2px;
				a {
					display: block;
					margin: 0 auto;
					width: 33px;
					height: 35px;
					background-size: 12px 17px;
					background-position: center center;
					background-repeat: no-repeat;
				}
				i {
					display: none;
				}
			}
			.caption_nav_prev {
				float: left;
				left: calc(50% - 120px);
				background-image: url('../images/calendar/calendar-left.svg');
				a {
					background-image: url('../images/calendar/calendar-left-arrow.svg');
				}
			}
			.caption_nav_next {
				float: right;
				right: calc(50% - 120px);
				background-image: url('../images/calendar/calendar-right.svg');	
				a {
					background-image: url('../images/calendar/calendar-right-arrow.svg');
				}
			}
		}
	}
	#mod_calendar {
		.module-content {
			padding-right: 55px;
			&:before {
				display: none;
			}
		}
		.clock-container {
			width: 70px;
			height: 70px;
			top: 0;
			right: 0;
			position: absolute;
		}
		p {
			width: calc(100% - 5px);
			margin: 0 0 5px;
		}
		span {
			font-weight: 700;
		}
	}
	#mod_menu {
		.module-content {
			&:before {
				top: 0;
				right: 0;
				width: 54px;
				height: 46px;
				background-image: url('../images/icons/mod_menu.svg');
			}
		}
	}
	#mod_gallery {
		.module-content {
			&:before {
				width: 46px;
				height: 44px;
				right: 0;
				background-image: url('../images/icons/mod_gallery.svg');
			}
		}
	}
	#mod_location {
		.module-content {
			&:before {
				width: 43px;
				height: 44px;
				right: 0;
				background-image: url('../images/icons/mod_location.svg');
			}
		}
	}
	#mod_timetable {
		.module-content {
			&:before {
				width: 37px;
				height: 40px;
				background-image: url('../images/icons/mod_timetable.svg');
			}
		}
	}
	#mod_kzk {
		.module-content {
			&:before {
				width: 41px;
				height: 49px;
				background-image: url('../images/icons/mod_kzk.svg');
			}
		}
	}
	#mod_stats {
		.module-content {
			&:before {
				width: 36px;
				height: 36px;
				background-image: url('../images/icons/mod_stats.svg');
			}
		}
	}
	#mod_weather {
		.module-content {
			padding: 10px 25px;
			text-align: center;
			&:before {
				display: none;
			}
		}
	}
	#mod_newsletter {
		.module-content {
			&:before {
				width: 37px;
				height: 41px;
				background-image: url('../images/icons/mod_newsletter.svg');
			}
		}
	}
}
@media (max-width: 1199px) {	
	.sidebar-modules, .sidebar-modules #mod_login {
		.module-content {
			&:before {
				right: -10px;
			}
		}
	}
	.sidebar-modules {
		#mod_calendar2 {
			.module-content {
				transform: none;
				.calendar {
					width: 210px;
					td, th {
						width: 30px;
						height: 30px;
					}
				}
				.caption_nav_prev {
					left: calc(50% - 105px);
				}
				.caption_nav_next {
					right: calc(50% - 105px);
				}
			}
		}
	}
}
@media (min-width: 992px) {
	.aside {
		padding-bottom: 65px;
	}
	.sidebar-menu {
		margin: 5px 0 0;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.sidebar-modules {
		.module {
			width: 100% !important;
		}
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.sidebar-modules {
		font-size: 0;
		& > div {
			font-size: 1.4rem;
			display: inline-block;
			float: none;
			vertical-align: middle;
		}
	}
}

@media (max-width: 991px) {
	.sidebar-menu {
		margin: 15px 0;
		& > ul {
			width: 100%;
		}
	}
	h2 {
		&.module-name {
			width: 100%;
		}
	}
	.sidebar-modules {
		padding: 0 15px;
		.module {
			margin-left: auto;
			margin-right: auto;
			.module-content {
				&:before {
					right: 0;
				}
			}
		}
		#mod_questionnaire {
			.module-content {
				margin: 0 auto;
				width: 160px;
				padding: 0;
			}
		}
	}
	#mod_login, #mod_questionnaire {
		fieldset {
			margin: 0 auto;
			width: 160px;
		}
	}
}