.page-footer {
	margin: 0 auto; 
	width: 1235px;
	transform: translateX(-35px) translateY(-33px);
	margin-bottom: -18px;
	background-position: 0 0;
	background-size: 100% 100%;
	background-image: url('../images/toolbar/menu-outer.svg');
	background-repeat: no-repeat;
	position: relative;
    padding: 30px 40px 30px 35px;
	ul {
		background-image: url('../images/toolbar/menu-inner.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: 0;
		text-align: center;
		li {
			display: inline-block;
			font-size: 1.4rem;
			&:last-child {
				margin-right: 0;
			}
			a {
				position: relative; 
				display: block; 
				font-weight: 700;
				color: #fff; 
				text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
				padding: 10px 20px; 
				line-height: 27px;
				&:before, &:after {
					content: '';
					width: 0;
					height: 0;
					position: absolute;
					pointer-events: none;
					display: block;
					line-height: 47px;
					border-style: solid;
					bottom: 0;
				}
				&:before {
					left: 0;
					border-width: 47px 0 0 2px;
					border-color: transparent transparent transparent $color2;
				}
				&:after {
					right: 0;
					border-width: 0 0 47px 4px;
					border-color: transparent transparent $color2 transparent;
				}
				&.selected, &:hover {
					color: $color2;
					background-color: #fff;
					text-decoration: none;
				}
				.title {
					text-transform: uppercase;
					.protectedPage {
						margin-left: 5px; 
						display: inline-block; 
						vertical-align: baseline; 
						line-height: 0;
						i {
							display: inline-block;
							position: relative;
						}
					}
				}
			}
		}
	}
}
.footer--copyright {
	color: #fff;
	text-align: center;
	margin: 10px 0 0;
	font-size: 1.2rem;
	a {
		color: #fff;
	}
}
.footer--gotop {
	background-color: #fff;
	color: $color1;
	width: 100%;
	font-size: 1.6rem;
	height: 60px;
	line-height: 60px;
	text-align: center;
	display: none;
}
@media (max-width: 1199px) {
	.page-footer {
		width: 1035px;
	}
}
@media (max-width: 991px) {
	.page-footer {
		display: none;
		margin-bottom: 0;
	}
	.footer--copyright {
		margin: 5px 0 30px;
	}
	.footer--gotop {
		display: block;
	}
}
@media (max-width: 767px) {
	.page-footer {
		display: none;
	}
	.footer--copyright {
		margin-top: 25px;
	}
}