fieldset {

}
.formL {
	width: 160px;
	float: left;
	text-align: left;
	padding: 0 5px;
	label, .formLabel {
		margin: 0;
		line-height: 32px;
		font-weight: bold;
	}
}
.formR {
	@include clearfix();
	width: calc(100% - 160px);
	float: right;
	input[type="text"], input[type="password"], textarea {
		width: 100%;
	}
	textarea {
		resize: none;
	}
	& + .clear {
		clear: both;
		margin: 3px 0;
		display: block;
	}
	.captchaTxt {
		float: left;
		width: 110px;
		margin: 0 10px 0 0;
		line-height: 32px;
		& + input {
			width: 100px;
			float: left;
		}
	}
	input#avatar {
		float: left;
		width: calc(100% - 150px);
		& + .file_input_div {
			width: 150px;
			height: 40px;
			float: left;
			#btnFilePos {
				pointer-events: none;
				margin: 0 0 0 10px;
			}
			#avatar_f {
				opacity: 0;
				width: 110px;
				height: 40px;
				cursor: pointer;
				transform: translateY(-40px);
				margin: 0;
			}
		}
	}
	.comment {
		clear: both;
	}
}
@media (max-width: 639px) {
	.formL {
		float: none;
		width: 100%;
		label {
			line-height: 18px;
			margin: 0 0 3px;
		}
	}
	.formR {
		float: none;
		width: 100%;
		& + .clear {
			display: none;
		}
		.captchaTxt {
			display: inline-block;
			float: none;
			width: auto;
			& + input {
				float: none;
				display: inline-block;
			}
		}
		p {
			margin: 0;
		}
	}
}