.topicText, .postText {
	padding: 10px 0;
	@include clearfix();
	border-top: 1px solid $color2;
	border-bottom: 1px solid $color2;
}
.topicAuthor, .postAuthor {
	float: left;
	width: 130px;
	img, .author {
		display: block;
		margin: 2px auto;
		text-align: center;
	}
}
.topicDate, .topicHour, .postDate, .postHour {
	width: 100%;
	text-align: center;
	display: block;
	margin: 0 0 3px;
}
.topicContent, .postContent {
	float: right;
	width: calc(100% - 130px);
}
.respondButtonList, #forumActions {
	margin: 5px 0;
	display: block;
	li {
		display: inline-block;
		margin-right: 5px;
	}
}
.forum-threads-wrapper {
	margin: 20px 0;
}
@media (max-width: 639px) {
	.topicDate, .topicHour, .postDate, .postHour {
		display: inline-block;
		width: auto;
		margin: 0 3px 0 0;
	}
	.topicAuthor, .postAuthor {
		float: none;
		padding-bottom: 3px;
		margin-bottom: 10px;
		width: 100%;
		border-bottom: 1px dashed $color2;
		float: none;
		.author {
			display: inline-block;
			margin: 0 0 0 10px;
		}
		img {
			display: none;
		}
	}
	.topicContent, .postContent {
		width: 100%;
		float: none;
	}
}