.headmodules {
	transform: translateY(-92px);
	.input-wrapper, .link-wrapper {
		&:hover {
			color: $color1;
			input, a {
				color: $color1;
			}
			svg {
				fill: #fff;
			}
		}
	}
}
.headmodules__title--holder {
	display: table;
	width: 100%;
}
.headmodules__list {
	width: 100%;
	display: table;
	text-align: center;
	position: relative;
	z-index: 5;
	& > li {
		display: table-cell;
		vertical-align: top;
		padding: 10px 13px;
		width: 25%;
		&.single {
			width: 100%;
		}
		&.two {
			width: 50%;
		}
		&.three {
			width: 33.3333%;
		}
		h2 {
			font-family: 'KaushanScript', serif;
			color: #fff;
			padding: 10px 15px 10px 20px;
			font-size: 2.5rem;
			line-height: 30px;
			display: table-cell;
			width: 100%;
			vertical-align: middle;
			text-align: left;
			margin: 0;
			position: relative;
			svg {
				@include full();
				path {
					fill: #000;
				}
			}
			span {
				position: relative;
				z-index: 2;
			}
		}
		&#mod_contact {
			.headmodules__icon {
				background-image: url('../images/icons/mod_contact.svg');
				background-size: 40px 41px;
			}
		}
		&#mod_calendar {
			.headmodules__icon {
				background-image: url('../images/icons/mod_calendar.svg');
				background-size:: 38px 46px;
			}
			.clock-container {
				display: none;
			}
		}
		&#mod_stats {
			.headmodules__icon {
				background-image: url('../images/icons/mod_stats.svg');
				background-size: 33px 34px;
			}
		}
		&#mod_kzk {
			.headmodules__icon {
				background-image: url('../images/icons/mod_kzk.svg');
				background-size: 34px 43px;
			}
		}
		&#mod_location {
			.headmodules__icon {
				background-image: url('../images/icons/mod_location.svg');
				background-size: 41px 41px;
			}
		}
		&#mod_menu {
			.headmodules__icon {
				background-image: url('../images/icons/mod_menu.svg');
				background-size: 50px 43px;
			}
		}
		&#mod_timetable {
			.headmodules__icon {
				background-image: url('../images/icons/mod_timetable.svg');
				background-size: 34px 37px;
			}
		}
		&#mod_newsletter {
			.headmodules__icon {
				background-image: url('../images/icons/mod_newsletter.svg');
				background-size: 34px 39px;
			}
		}
		&#mod_gallery {
			.headmodules__icon {
				background-image: url('../images/icons/mod_gallery.svg');
				background-size: 44px 42px;
			}
		}
		&#mod_video {
			.headmodules__icon {
				background-image: url('../images/icons/mod_video.svg');
				background-size: 40px 40px;
			}
		}
		&#mod_jokes {
			.headmodules__icon {
				background-image: url('../images/icons/mod_jokes.svg');
				background-size: 41px 41px;
			}
		}
		&#mod_programs {
			.headmodules__icon {
				background-image: url('../images/icons/mod_programs.svg');
				background-size: 38px 46px;
			}
		}
		&#mod_login {
			.headmodules__icon {
				background-image: url('../images/icons/mod_login.svg');
				background-size: 32px 43px;
			}
			fieldset {
				@include clearfix();
				width: 160px;
				margin: 0 auto;
			}
			input[type="text"], input[type="password"] {
				display: block;
				margin: 0 auto 10px;
				color: $basic;
				max-width: 320px;
			}
			label {
				max-width: 320px;
				text-align: left;
				text-transform: capitalize;
				display: block;
				margin: 0 auto 3px;
			}
			img {
				width: 100%;
				height: auto;
			}
			.user-name-wrapper {
				@include clearfix();
				display: inline-block;
				text-align: left;
				.user-avatar {
					width: 50px;
					height: 50px;
					margin-right: 10px;
					float: left;
				}
				.user-name {
					width: calc(100% - 60px);
					float: left;
					a {
						color: $color3;
					}
					& + a {
						width: calc(100% - 60px);
						float: left;
					}
				}
			}
			.input-wrapper, .link-wrapper {
				margin-top: 5px;
			}
		}
	}
}
.headmodules__icon {
	width: 40px;
	height: 40px;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	margin: 0 auto 10px;
}
.headmodules__content {
	padding: 15px 15px 0;
	color: #fff;
	a {
		color: #fff;
		&:hover {
			text-decoration: underline;
		}
	}
	p {
		margin: 0;
	}
}
@media (max-width: 991px) {
	.headmodules {
		transform: none;
		.container {
			width: 100%;
		}
	}
	.headmodules__list {
		& > li {
			width: 100%;
			margin: 0 auto;
			display: block;
			h2 {
				height: auto !important;
			}
		}
	}
}
@media (max-width: 767px) {
	.headmodules__list {
		& > li {
			display: block;
			width: 100% !important;
			h2 {
				display: block;
				text-align: center;
			}
		}
	}
	.headmodules__title--holder {
		display: block;
		width: 100%;
	}
}