.header {
	position: relative;
	transform: translateY(-24px) translateX(-10px);
}
.hero__vector--outer {
	width: 1155px;
	height: 449px;
	transform: translateY(-4px);
}
.hero__vector--inner {
	position: absolute;
	top: 25px;
	right: 35px;
	width: 1012px;
	height: 411px;
}
.header {
	.owl-carousel {
		position: absolute;
		top: 25px;
		right: 35px;
		width: 1012px;
		height: 411px;
		ul {
			margin: 0;
			width: 1012px;
			height: 411px;
			li {
				width: 1012px;
				height: 411px;
				.hero__vector--inner {
					top: 0;
					right: 0;
				}
			}
		}
	}
}
.header__info {
	width: 433px;
	height: 392px;
	background-image: url('../images/hero/description-outer.svg');
	background-position: 0;
	background-size: 100%;
	background-repeat: no-repeat;
	z-index: 3;
	position: absolute;
	top: 22px;
	left: 0;
	margin: 0 0 0 11px;
	color: #fff;
	& > div {
		position: relative;
		background-image: url('../images/hero/description-inner.svg');
		background-position: 0;
		background-size: 100%;
		background-repeat: no-repeat;
		z-index: 4;
		margin: 0 0 0 15px;
		width: 390px;
		height: 405px;
		padding: 87px 70px 60px 25px;
	}
	a {
		color: #fff;
		font-size: 14px;
		text-decoration: underline;
	}
	h1 {
		font-family: 'KaushanScript', serif;
		margin: 0 0 10px;
		font-size: 32px;
		display: block;
		line-height: 36px;
	}
	p {
		font-size: 14px;
		display: block; 
		margin: 0 2px;
		&.title {
			display: none;
		}
	}
}
@media (max-width: 1199px) {
	.hero__vector--outer {
		width: 940px;
		height: 365px;
	}
	.hero__vector--inner {
		width: 812px;
		height: 330px;
		right: 40px;
	}
	.header {
		.owl-carousel {
			width: 812px;
			height: 330px;
			ul {
				width: 812px;
				height: 330px;
				li {
					width: 812px;
					height: 330px;
				}
			}
		}
	}
	.header__info {
		width: 351px;
		height: 318px;
		margin-left: 27px;
		& > div {
			transform: scale(0.9) translateX(-20px) translateY(-19px);
			width: 347px;
			height: 365px;
		}
		h1 {
			font-size: 26px;
			line-height: 28px;
		}
	}
}
@media (max-width: 991px) {
	.header {
		height: 290px;
		.owl-carousel {
			width: 670px;
			top: 0;
			ul {
				width: 670px;
				li {
					width: 670px;
				}
			}
		}
	}
	.hero__vector--outer {
		transform: none;
		width: 100%;
		height: 310px;
	}
	.hero__vector--inner {
		width: 670px;
		right: 30px;
		top: 0;
	}
	.header__info {
		top: 18px;
		left: 0;
		margin-left: 8px;
		& > div {
			padding: 64px 70px 60px 26px;
			transform: scale(0.9) translateX(0) translateY(-21px);
			margin: 0;
		}
	}
}
@media (max-width: 767px) {
	.header {
		margin: 15px 0 0;
		height: auto;
		transform: none;
		.owl-carousel {
			width: 75%;
			top: 25px;
			right: 65px;
			height: auto;
			ul {
				width: 100%;
				height: auto;
				li {
					width: 100%;
					height: auto;
					.hero__vector--inner {
						position: static;
						width: 100%;
						height: auto;
					}
				}
			}
		}
	}
	#headerBanner {
		width: 140%;
		transform: translateX(-20%);
		position: relative;
	}
	.hero__vector--outer {
		width: 100%;
		height: auto;
	}
	.hero__vector--inner {
		width: 75%;
		top: 25px;
		right: 65px;
		height: auto;
	}
	.header__info {
		transform: translateY(-8px);
		background-position: 100% 100%;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		width: 100%;
		margin: 0;
		height: auto;
		padding: 15px;
		& > div {
			background-position: 100% 100%;
			width: calc(100% - 50px);
			height: calc(100% - 50px);
			margin: 0 0 0 20px;
			transform: none;
			padding: 10px 60px 55px 40px;
		}
		h1 {
			font-size: 2.4rem;
			line-height: 26px;
		}
		p {
			font-size: 1.4rem;
			margin: 0;
			line-height: 16px;
		}
	}
}
@media (max-width: 479px) {
	#headerBanner {
		width: 180%;
		transform: translateX(-35%);
	}
	.header {
		.owl-carousel {
			right: 0;
		}
	}
	.hero__vector--inner {
		top: 25px;
		right: 0;
	}
	.header__info {
		width: 145%;
		transform: translateX(-12%) translateY(-8px);
		& > div {
			padding: 20px 65px 55px 40px;
		}
	}
}
@media (max-width: 400px) {
	.hero__vector--inner {
		top: 15px;
	}
}