.main {
	background-color: #fff;
	margin: 0;
	color: $basic;
}
#content-mobile {
	width: calc(100% + 30px);
	transform: translateX(-15px);
	background-color: #fff;
	padding: 15px;
}
p.mail {
	word-break: break-all;
}
.delete-avatar {
	color: $color2;
	margin-left: 5px;
	&:hover {
		text-decoration: underline;
	}
}
#crumbpath {
	margin: 20px 0 5px 10px;
	font-size: 1.4rem;
	line-height: 18px;
	position: relative;
	z-index: 2;
	a {
		color: $color1;
	}
}
iframe {
	& + br {
		& + small {
			a {
				display: block;
				margin: 0 auto;
				text-align: center !important;
				color: $color1 !important;
			}
		}
	}
}
#content_txt {
	padding: 0 10px;
}
.gallery-wrapper {
	.gallery {
		margin-bottom: 15px;
		font-size: 0;
		& > li {
			float: none;
			display: inline-block;
			vertical-align: top;
		}
		.photo {
			background-image: url('../images/article/article-outer.svg');
			background-repeat: no-repeat;
			background-size: 100% 100%;
			width: 255px;
			height: 219px;
			margin: 0 20px 40px 0;
			.shape {
				transform: translateY(10px) translateX(-10px);
				width: 280px;
				height: 220px;
				background-image: url('../images/article/article-outer2.svg');
				background-repeat: no-repeat;
				background-size: 100% 100%;
			}
		}
		.photo-name {
			position: relative;
			background-color: transparent;
			text-align: center;
			font-weight: 700;
			font-size: 1.4rem;
			margin: 2px auto;
			z-index: 2;
			color: #fff;
			width: 285px;
			transform: translateY(-55px) translateX(-10px);
			text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
			svg {
				@include full();
				fill: $color1;
			}
			span {
				position: relative;
				z-index: 3;
				display: inline-block;
				padding: 12px 21px;
				&:empty {
					display: none;
				}
			}
		}
	}
}
.gallery__imgholder {
	display: none;
}
.advertLeft {
	margin: 35px 0 5px;
	color: #fff;
	img {
		width: 190px !important;
		height: auto;
		margin: 0 auto;
		display: block;
	}
	table {
		width: 100%;
		border-collapse: collapse;
		th, td {
			padding: 3px;
			border: 1px solid #fff;
		}
	}
	a {
		color: #fff;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
.search-list {
	.search-text {
		padding-bottom: 5px;
		border-bottom: 1px solid $color2;
	}
	h3 {
		font-family: 'Roboto', sans-serif;
		color: $color2;
		font-weight: bold;
		font-size: 2.2rem;
		line-height: 24px;
	}
	a {
		color: $color2;
		&:hover {
			color: $color1;
			text-decoration: none;
		}
	}
}
.tableTopics, .timetable {
	border: 1px solid $color2;
	border-collapse: collapse;
	th, td {
		border: 1px solid $color2;
	}
	caption {
		color: $color2;
	}
}
.advertTop {
	text-align: center;
	margin-top: 25px;
	table {
		margin: 0 auto;
		border-collapse: collapse;
		th, td {
			padding: 3px;
			border: 1px solid $color1;
		}
	}
	img {
		width: 700px !important;
		height: auto;
		margin: 5px auto 0;
		display: block;
	}
}
body#tinymce {
	color: $basic; 
	font-family: 'Roboto', sans-serif !important;
	h3, h4, h5 {
		margin: 10px 0;
		border: 0;
		padding: 0;
		background: none;
	}
	h3 {
		font-size: 2.4rem;
	}
	h4 {
		font-size: 2.2rem;
	}
	h5 {
		font-size: 2rem;
	}
	h6 {
		font-size: 1.8rem;
	}
	table {
		border-collapse: collapse;
		caption, td, th {
			padding: 5px;
			border: 1px solid $color1 !important;
		}
		caption {
			border-bottom: 0 !important;
		}
	}
	a {
		text-decoration: underline;
	}
}
#welcome {
	margin-bottom: 20px;
	table {
		border-color: $color1 !important;
	}
	a {
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}
#welcome, #board {
	a {
		display: block;
	}
	ul {
		li {
			list-style-type: disc;
			list-style-position: inside;
		}
	}
	table {
		caption, td, th {
			padding: 5px;
		}
	}
}
@media (max-width: 1199px) {
	.gallery-wrapper {
		text-align: center;
		.gallery {
			li {
				display: inline-block;
				width: 45%;
				float: none;
			}
			.photo {
				margin: 15px auto 30px;
			}
			.photo-name {
				transform: translateY(-40px);
			}
		}
	}
}
@media (max-width: 991px) {
	.main {
		display: none;
	}
	.aside {
		height: auto !important;
	}
	#crumbpath {
		margin-left: 0;
	}
	.page-content .container {
	    width: 100%;
	}
	.advertLeft {
		img {
			margin-top: 5px;
		}
	}
}
@media (max-width: 700px) {
	.gallery-wrapper {
		.gallery {
			li {
				width: 100%;
				display: block;
			}
		}
	}
}
@media (max-width: 639px) {
	.citaBlock {
		margin: 15px;
	}
}