.modules-content {
	position: relative;
	display: table;
	height: auto;
	padding-top: 5px;
	border-collapse: separate;
	border-spacing: 16px;
	& > a {
		width: 100%;
		display: table-cell;
		&.keyboard-outline {
			z-index: 1;
		}
		&:hover {
			text-decoration: none;
			h2 {
				&.module-name {
					svg {
						path {
							fill: $color2 - #222;
						}
					}		
				}
			}
		}	
	}
	&.single {
		display: block;
		& > a {
			display: block;
			.module-body {
				width: 104%;
				height: 220px !important;
				& > svg {
					width: 103%;
					height: 215px;
				}
			}
		}
	}
	&.two {
		& > a {
			transform: translateX(-18px);
			.module-body {
				width: 420px;
				height: 200px !important;
				& > svg {
					width: 410px;
					height: 195px;
				}
			}
		}
	}
	&.three {
		& > a {
			&:nth-child(2) {
				.module-body {
					background-image: url('../images/modules/modules-main-outer-highlighted.svg');
				}
				&:hover {
					text-decoration: none;
					h2 {
						&.module-name {
							svg {
								path {
									fill: $color1 - #222;
								}
							}		
						}
					}
				}	
			}
			.module-body {
				width: 267px;
				height: 199px !important;
				& > svg {
					width: 262px;
					height: 195px;
				}
			} 
		}
	}
	.module-body {
		width: 100%;
		height: 220px;
		background-image: url('../images/modules/modules-main-outer.svg');
		background-size: 100% 100%;
		margin: 0 auto;
		background-repeat: no-repeat;
		padding: 0 5px 0 0;
		& > svg {
			transform: translateX(-8px) translateY(2px);
		}
	}
	h2 {
		&.module-name {
			width: 100%;
			margin: 0;
			padding-left: 20px;
			transform: translateY(-40px);
		}
	}
	&:before {
		content: '';
		display: block;
		width: 906px;
		background-image: url('../images/modules/modules-bottom-border.svg');
		background-size: 100% 100%;
		background-repeat: no-repeat;
		position: absolute;
		left: -15px;
	}
}
#modules-top2 {
	margin: 0 0 40px;
	&:before {
		height: 302px;
		top: -21px;
	}
}
#modules-bottom {
	margin: 50px 0 10px;
	&:before {
		height: 288px;
		top: 0;
	}
}
@media (max-width: 1199px) {
	.modules-content {
		&:before {
			width: 752px;
		}
		& > a {
			margin: 0 5px;
		}
		&.two {
			& > a {
				.module-body {
					width: 340px;
					height: 200px !important;
					& > svg {
						width: 330px;
						height: 195px;
					}
				}
			}
		}
		&.three {
			& > a {
				transform: translateX(-36px);
				.module-body {
					width: 232px;
					height: 193px !important;
					& > svg {
						width: 230px;
						height: 180px;
					}
				}
			}
		}
	}
}
@media (max-width: 991px) {
	#modules-top2-mobile, #modules-bottom-mobile {
		background-color: #fff;
		width: calc(100% + 30px);
		transform: translateX(-15px);
		margin: 20px 0;
	}
	#modules-top2, #modules-bottom {
		margin: 0 auto 10px;	
	}
	.modules-content {
		width: 750px;
		padding-bottom: 30px;
		&:before {
			display: none;
		}
		& > a {
			transform: none !important;
			margin-top: 20px;
			margin-bottom: 50px;
		}
		&.single {
			& > a {
				width: 100%;
			}
		}
	}
}
@media (max-width: 767px) {
	#modules-bottom-mobile {
		margin-bottom: 0;
	}
	.modules-content {
		width: 100%;
		display: block;
		padding: 15px 0 10px;
		& > a {
			display: block;
			margin: 15px auto;
			width: 267px;
			height: 235px;
			.module-body {
				width: 267px !important;
				height: 199px !important;
				& > svg {
					width: 262px !important;
					height: 195px !important;
				}
			} 
		}
	}
}