.page-content-mobile {display: none;}
// .page-content {padding-top: 30px;}

.files-header,
.gallery-header,
.subHead,
#content_txt h2 {
    margin: 0 0 15px 0;
    padding-bottom: 15px;
    font-size: 3.2rem;
    color: $color1;
}

#content_txt .main-text h2 {margin: 15px 0; font-size: 2.7rem;}
#content_txt .leadArticle {margin-bottom: 20px;}

.module.module-with-icon .module-body {position: relative;}
.module.module-with-icon .icon {position: absolute; top: 0; left: 0; width: 100%; height: 65px; background-position: 50% 50%; background-repeat: no-repeat;}

.modules-content .module .module-content {text-align: center;}
.modules-content .module.module-common .module-content {padding-bottom: 0;}
.modules-content .module#mod_contact .module-content {text-align: left;}

#content {margin: 0;}

.modules-bottom {margin-bottom: 30px;}
.modules-bottom {margin-top: 55px;}

/* Adv */
#advertsLeftWrapper {text-align: center;}
#advertsTopWrapper {text-align: center; margin-bottom: 30px;}
#advertsLeftContent {padding: 0;}
.advertTop {position: relative; z-index: 2; margin-bottom: 30px;}
.advertLeft {margin-bottom: 30px;}
.advertTop iframe,
.advertTop object,
.advertTop img {max-width: 100%; height: auto;}
.advertTop a,
.advertLeft a {display: block;}

/* Breadcrumb */
#crumbpath {padding: 0 0 20px 0; color: #000;}
#crumbpath a {text-decoration: none; font-weight: bold;}
#crumbpath a:hover,
#crumbpath a:focus {text-decoration: underline;}
#crumbpath ol {
    display: inline;
    margin-bottom: 0;
    vertical-align: top;
}
#crumbpath ol li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px
}
#crumbpath ol li .icon {
    font-size: 12px;
    margin-left: 0;
    margin-right: 10px;
}
.pathSep {margin: 0 10px;}
.here {display: inline-block; vertical-align: top; margin-right: 15px;}

/* Content */
#content_txt img {max-width: 720px; overflow: hidden; height: auto;}
#content_txt table {width: 100%;}
#content_txt .authorName {margin: 30px 0;}
#content_txt .authorName span {font-weight: bold;}
#content_txt p,
#content_txt span {word-wrap: break-word;}

#welcome {padding: 0 0 20px 0;}
#welcome a:focus {background-color: #484848; color: #fff !important;}
#welcome a:focus span {background-color: #484848; color: #fff !important;}

.gallery-wrapper,
.article-wrapper {margin-top: 15px;}

.main-text {
    position: relative;
    z-index: 10;
    font-size: 1.4rem;
}

.main-text .subHead {font-size: 2.4rem; margin: 0 0 15px 0; padding-bottom: 15px;}

.search-list,
.files-wrapper {margin-bottom: 30px;}

/* Messages */
.txt_err {color: $attention; border: 2px solid $attention; text-align: center; padding: 10px; margin-bottom: 20px; background: #ffe5e5; font-weight: bold;}
.txt_msg {color: #fff; border: 2px solid $color2 - #222; text-align: center; padding: 10px; margin-bottom: 20px; background: $color2; font-weight: bold;}
.txt_com {color: #fff; border: 2px solid $color1 - #222; text-align: center; padding: 10px; margin-bottom: 20px; background: $color1; font-weight: bold;}
.txt_err p,
.txt_com p,
.txt_msg p {margin: 0;}

#content_txt .txt_err a,
#content_txt .txt_err a:visited {color: $attention;}

.inError {border-color: $attention !important; background: #ffe5e5 !important;}

.anchor {position: relative; height: 0; width: 0; top: -60px; display: block;}

/* Forms */
#content_txt form {margin-top: 20px}
.formL {width: 15rem; float: left; text-align: right; padding: 11px 10px 0 0; min-height: 10px}
.formR {float: left; margin: 0 0 10px 0; position: relative;}
.formR.radio label:first-child {margin: 0;}
.formR.radio label {margin-left: 10px;}
.formR.login {margin-top: 11px; padding: 0;}
.formR p {margin: 10px 0;}
.formR .msgMarg:empty {display: none;}
.formLabel-captcha {margin-top: 20px;}
.msgMarg {margin: 5px 0; font-size: 1.2rem; display: inline-block;} 
.msgError {color: $attention}
.remind-passowrd-wrapper {margin-top: 15px;}

.inText,
.inTextSmall,
.inTextArea {display: block; box-sizing: border-box; padding: 5px; color: $basic; width: 300px}
.inText,
.inTextSmall {height: 41px;}
.inTextArea {height: 180px;}
.inText:focus,
.inTextSmall:focus,
.inTextArea:focus {border-color: #000;}

.forumAvatarImage {border: 2px solid $color2; max-width: 55px !important; height: auto !important;}
.avatarFrameImage {border: 2px solid $color2;}

.asterisk {color: $attention; margin-right: 5px;}
.login {padding-top: 5px; font-weight: bold;}
.captchaTxt {margin: 0 10px 0 0;}
div.radio {padding-top: 8px; margin-bottom: 18px;}

#content_txt input[type="radio"] + label {vertical-align: top}
#content_txt input[type="radio"] + label span.radio {display: inline-block; width: 20px; height: 20px; vertical-align: top; cursor: pointer; margin-top: 0px; background: url("../images/radio.png") no-repeat}
#content_txt input[type="radio"] + label span.radio:hover, #content_txt input[type="radio"] + label span.radio:focus {background-position: 0 -20px}
#content_txt input[type="radio"]:checked + label span.radio {background-position: 0 -40px}
#content_txt span.label {display: block; margin: -20px 0 0 22px}

#content_txt .class-list {}
#content_txt .class-list > li {margin-bottom: 10px; font-size: 1.6rem;}
#content_txt .class-list > li a,
#content_txt .class-list > li a:visited {color: $basic; font-weight: bold;}
#content_txt .class-list > li a:hover {text-decoration: none;}
#content_txt .class-list > li a:hover span {text-decoration: underline;}
#content_txt .class-list > li a:focus {}
#content_txt .class-list .timetable .txt-err {border: 0;background-color: transparent;margin: 0;}

.timetable {margin: 10px 0;}
.timetable caption {font-weight: normal; padding: 8px 0; font-size: 1.182em; text-transform: uppercase;}
.planLp {text-align: center}
.planLesson {font-weight: bold}

/* Location */
#content_txt iframe {border: 2px solid $color2; max-width: 100%; box-sizing: border-box;}
#content_txt .Tweet iframe {border: none;}
#content_txt .FBLike iframe {border: none;}
#content_txt .txtMessage small a,
#content_txt .txtMessage small a:visited {color: #000 !important; text-decoration: none !important;}
#content_txt .txtMessage small a:hover {color: #000 !important; text-decoration: underline !important;}

#backLinks {margin: 0; padding: 0}
#backLinks li {list-style-type: none}


/* Sitemap */
#content_txt .sitemap {margin: 0 0 30px 10px; padding: 0 0 0 10px; list-style: disc;}
#content_txt .sitemap .sitemap {margin-bottom: 0;}
#content_txt .sitemap li {margin: 10px 0; position: relative;}
#content_txt .sitemap li a,
#content_txt .sitemap li a:visited {font-weight: bold;}
#content_txt .sitemap li a:hover,
#content_txt .sitemap li a:focus {color: $color1; text-decoration: underline; color: inherit;}
#content_txt .sitemap li .protectedPage {margin-left: 5px; display: inline-block; vertical-align: middle;}
#content_txt .sitemap li .protectedPage i {display: inline-block; position: relative; top: -3px;}

/* Poll */
.qAnswer {font-size: 1.3rem; width: calc(100% - 80px);}
.qPercent {float: right; text-align: right; margin: 0; padding: 0; transform: translateY(-24px); color: #000; font-weight: bold; font-size: 3rem; line-height: 32px;}
.qBar {background: #000; height: 4px; margin: 8px 0 15px 0; border-bottom: 1px solid #328ccd;}
.questionnaireList {margin: 0 0 20px 0; padding: 0}
.questionnaireList li {list-style-type: none; margin-bottom: 5px}

/* Tools */
.hide {position: absolute; top: 0; left: -9000em; width: 1px; height: 1px;}
.clear {display: none;}
.noMargin {margin: 0;}
.bolder {font-weight: bold;}
img {border: none;}
.rel {position: relative;}

/* Jokes */
#jokes {margin: 0 0 40px 0; padding: 0}
#jokes li {list-style-type: none; margin-bottom: 30px; border-bottom: 3px solid $color2; position: relative}
.jokeText {padding: 10px; color: $basic;}
.jokeNick {background: none; color: #676767; text-align: right; padding: 5px 10px}
.jokeDate {color: $basic;}

#cookiesMsg {width: auto !important; padding: 10px !important;}
#cookiesMsg p {margin: 0;}

.back-links li {margin-bottom: 5px;}

@media screen and (min-width: 1200px) {
    // .sidebar-modules .module {max-width: 250px;}
    // .modules-content .col-sm-4 .module {max-width: 250px;}
    // .modules-content .col-sm-6 .module {max-width: 390px;}
    // .modules-content .col-sm-12 .module {max-width: 830px;}
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    html {font-size: 56.25%;}

    .header .header-name {width: 88%;}

    .menu-top .menu .topMenu > li {margin-right: 10px;}

    .article-wrapper-home .article .photo-wrapper a,
    .article-wrapper-home .article .photo-wrapper a:visited,
    .article-wrapper .article .photo-wrapper a,
    .article-wrapper .article .photo-wrapper a:visited {
        width: 290px;
        height: 197px;
        perspective: 581px;
    }
}

@media screen and (max-width: 991px) {
    

    .toolbar {margin: 0; padding-top: 17px; background: #fff; border: 0;}
    .toolbar .inner:nth-child(1) {position: absolute; left: 15px;}
    .toolbar .inner:nth-child(2) {float: none; margin-left: 40px;}
    .toolbar .inner:nth-child(2) .links ul {line-height: 34px;}
    .toolbar .links li.home {margin: 0 10px 0 0;}
    .toolbar .fonts {float: right; margin-right: 42px; height: 34px; border-right: 1px solid #02514b;}
    .toolbar .fonts ul {margin-right: 15px;}
    .toolbar .fonts li {display: none; line-height: 34px;}
    .toolbar .fonts li.contrast {display: block; margin-right: 0;}
    .toolbar .fonts li.contrast span {display: none;}
    .toolbar .fonts li.contrast a {}
    .toolbar .searchbar {position: absolute; right: 0;}
    .toolbar .searchbar form {position: relative; width: 34px;}
    .toolbar .searchbar form input[type=text] {position: absolute; right: 0; visibility: hidden; width: 34px; background: #fff; -webkit-transition: width 0.3s ease 0s; transition: width 0.3s ease 0s;}
    .toolbar .searchbar .btnSearch {padding: 0;}
    .toolbar .searchbar form:not(.show) .btnSearch {background-color: transparent; background-image: url(../images/toolbar/search-inverse.png);}
    .toolbar .searchbar form.show input[type=text] {visibility: visible; width: 195px;}

    .modules-top .list .module .icon {height: 60px;}

    .sidebar-menu > ul.menus > li > a .bg {perspective: none;}
    .sidebar-menu > ul.menus > li > a .bg-inner {transform: skewX(-6deg);}

    .sidebar-menu > ul.menus > li a:hover .bg,
    .sidebar-menu > ul.menus > li > ul.dropdown-menu li a:hover .bg,
    .sidebar-menu > ul.menus > li a.selected .bg,
    .sidebar-menu > ul.menus > li > ul.dropdown-menu > li a.selected .bg,
    .sidebar-menu > ul.menus > li > ul.dropdown-menu > li > ul.dropdown-menu li a.selected .bg {-webkit-transform: none; transform: none;}

    .page-content-mobile {margin: 30px 0 0; padding: 10px 0; display: block;}
    .page-content {padding: 10px 0 0;}

    #content {margin: 0 0 35px 0;}

    .modules-top {padding: 0;}
    .modules-top .list {margin-bottom: 30px;}
    .modules-top .list .module {margin-top: 30px; width: 50%;}

    .article-wrapper-home .article .photo-wrapper a,
    .article-wrapper-home .article .photo-wrapper a:visited,
    .article-wrapper .article .photo-wrapper a,
    .article-wrapper .article .photo-wrapper a:visited {
        width: 300px;
        height: 204px;
        perspective: 600px;
    }

    .modules-bottom {margin-top: 0;}

    #advertsLeftWrapper {margin: 0;}
    .advertLeft:last-child {margin-bottom: 0;}

    #sidebar-menu-mobile {position: relative; padding: 0 15px 30px;}
    #sidebar-menu-mobile .sidebar-menu {position: relative; z-index: 100;}
}
@media screen and (max-width: 767px) {
    .table-responsive {border: 0;}

    .modules-top .list {margin-bottom: 40px;}
    .modules-top .list .module {margin-top: 40px; width: 100%; padding: 0 15px;}


    .module-common#mod_calendar2 #calendarNews {margin: 0 auto; max-width: 320px;}

    .sidebar-modules {margin-top: -20px; padding-top: 20px;}
    .sidebar-modules .module .module-content {height: auto;}

    .sidebar-modules {overflow: hidden;}
    .modules-bottom .row {margin-top: -20px; padding-top: 20px; overflow: hidden;}

    #content_txt img {max-width: 100% !important;}

    .article-wrapper-home .article,
    .article-wrapper .article {
        min-height: 0;
        margin: 20px 0;
    }

    .article-wrapper-home .article .lead-text.no-padding-left,
    .article-wrapper .article .lead-text.no-padding-left {
        padding-top: 30px;
        padding-left: 40px;
    }

    .article-wrapper-home .article .photo-wrapper,
    .article-wrapper .article .photo-wrapper {
        margin-top: -20px;
        margin-bottom: 20px;
        position: static;
        top: auto;
        left: auto;
        display: none;
    }

    .article-wrapper-home .article .photo-wrapper a,
    .article-wrapper-home .article .photo-wrapper a:visited,
    .article-wrapper .article .photo-wrapper a,
    .article-wrapper .article .photo-wrapper a:visited {width: 100%; height: auto; perspective: none;}

    .article-wrapper-home .article .photo-wrapper .shape,
    .article-wrapper .article .photo-wrapper .shape {transform: none; -webkit-transform: none;}

    .article-wrapper-home .article .photo-wrapper .shape-img,
    .article-wrapper .article .photo-wrapper .shape-img {
        position: static;
        -webkit-transform: none;
        transform: none;
    }

    .article-wrapper-home .article .photo-wrapper a .shape-img:hover,
    .article-wrapper .article .photo-wrapper a .shape-img:hover {
        -webkit-transform: none;
        -ms-transform: none;
        transform: none;
    }

    .article-wrapper-home .article .photo-wrapper .shape-img:after,
    .article-wrapper .article .photo-wrapper .shape-img:after {
        display: none;
    }

    .article-wrapper-home .article:not(.no-photo) .article-date,
    .article-wrapper .article:not(.no-photo) .article-date {

    }

    .formL {float: none; width: auto; text-align: left;}
    .formR {float: none;}
    .formLabel-captcha {margin-top: 0;}

    .inText,
    .inTextSmall,
    .inTextArea {width: 100%;}

    #editForm .clear,
    #loginForm .clear,
    #registerForm .clear,
    #addForm .clear,
    #delForm .clear {display: none;}

    .forum-threads-wrapper {margin: 30px 0;}
    .forum-answers-wrapper {margin: 30px 0;}
    .topicContent, .postContent {width: auto;}

    #modules-bottom {position: relative;}
}

@media screen and (max-width: 479px) {

    .article-wrapper-home .article .button,
    .article-wrapper .article .button {
        padding-right: 20px;
        background-image: none;
    }

}

@media screen and (max-width: 420px) {

}