.pagination-wrapper {
	display: inline-block;
	padding: 0 0 0 25px;
	margin: 0 0 50px;
	p {
		display: none;
	}
	ul {
		li {
			margin: 5px 0;
			a {
				display: inline-block;
				position: relative;
				height: 35px;
				line-height: 35px;
				width: 33px;
				text-align: center;
				.text {
					position: relative;
					z-index: 2;
					text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
					color: #fff;
				}
				&:hover {
					text-decoration: none;
					.pagination__background {
						fill: $color1;
					}
				}
				&.btn-first, &.btn-prev {
					transform: rotate(180deg);
				}
			}
		}
	}
}
.pagination__arrow {
	display: inline-block;
	position: relative;
	z-index: 2;
	transform: translateY(5px);
}
.pagination__background {
	@include full();
	fill: $color2;
}