.toolbar {
	margin: 0 auto; 
	width: 1235px; 
	height: 48px;
	color: $color1;
	position: relative;
	background-position: 0 0;
	background-size: 100% 100%;
	background-image: url('../images/toolbar/background.svg');
	background-repeat: no-repeat;
	z-index: 4;
	a {
		color: $color1;
	}
}
.toolbar__links { 
	margin-left: 40px;
	float: left;
	li {
		line-height: 45px;
		margin: 0 25px 0 0;
		display: inline-block;
		a {
			white-space: nowrap;
		}
		&:last-child {
			a {
				width: 50px;
			}
		}
	}	
	img, svg {
		display: inline-block; 
		margin: 0 7px 0 0; 
		vertical-align: middle;
	}
}
.toolbar__holder {
	@include clearfix();
	float: right;
}
.toolbar__fonts {
	float: left;
	margin: 0 20px;
	span {
		line-height: 45px;
	}
	span, ul {
		display: block;
		float: left;
	}
	ul {
		display: table;
		vertical-align: bottom;
		margin: 9px 10px 0 3px;
		li {
			display: table-cell;
			a {
				margin: 0 3px;
				svg {
					vertical-align: bottom;
					transform: translateY(2px);
				}
			}
		}
	}
}
.toolbar__contrast {
	display: block;
	float: left;
	line-height: 45px;
	svg {
		transform: translateY(5px);
		margin-right: 7px;
	}
}
.toolbar__search {
	float: left;
	margin: 5px 25px 0 15px;
	button {
		color: #fff;
		min-width: 95px;
		min-height: 36px;
		padding: 0 15px;
		position: relative;
		letter-spacing: 0.5px;
		z-index: 2;
		text-transform: uppercase;
		font-weight: 700;
		svg {
			@include full();
			fill: $color2;
		}
		span {
			position: relative;
			z-index: 2;
		}
		&:hover {
			svg {
				fill: $color1;
			}
		}
	}
	input[type="text"] {
		transform: translateX(15px) translateY(0px);
		padding: 0 5px 0 10px;
		width: 170px;
		border-color: #e1ebda;
		height: 32px;
		line-height: 30px;
	}
}
.menu-top {
	position: relative; 
	padding: 10px 0; 
	width: 1225px;
	margin: 0 auto;
	z-index: 9;
	.toolbar {
		margin: 0;
	}
	.menu {
		ul {
			margin: 0; 
			padding: 0; 
			list-style: none;
		}
		a {
			&:hover, &.selected, &.has-selected {
				text-decoration: none; 
				background: rgba(228, 212, 206, 1);
			}
		}
		.topMenu {
			& > li {
				float: left; 
				font-size: 1.4rem; 
				&:last-child { 
					margin-right: 0; 
				}
				& > a {
					position: relative; 
					display: block; 
					padding: 10px 20px; 
					line-height: 27px;
					.title {
						text-transform: uppercase;
						.protectedPage {
							margin-left: 5px; 
							display: inline-block; 
							vertical-align: baseline; 
							line-height: 0;
							i {
								display: inline-block;
								position: relative;
							}
						}
					}
					&:before, &:after {
						content: '';
						width: 0;
						height: 0;
						position: absolute;
						pointer-events: none;
						display: block;
						line-height: 47px;
						border-style: solid;
						bottom: 0;
					}
					&:before {
						left: 0;
						border-width: 47px 0 0 2px;
						border-color: transparent transparent transparent $color2;
					}
					&:after {
						right: 0;
						border-width: 0 0 47px 4px;
						border-color: transparent transparent $color2 transparent;
					}
				}
				& > .dropdown-menu {
					margin: 0; 
					font-size: 1.2rem; 
					border-radius: 0; 
					box-shadow: none;
				}
			}
		}
	}
	.navbar-header {
		position: relative; 
		z-index: 110;
	}
	.navbar-toggle {
	    box-sizing: border-box;
	    position: relative;
	    color: #fff;
	    width: 100%;
	    text-align: left;
	    height: 70px;
	    float: none; 
	    padding: 0;
	    margin: 0;
	    border: 0;
	    border-radius: 0;
		.icon {
			position: absolute; 
			width: 30px; 
			height: 3px; 
			background: #fff; 
			left: 15px; 
			-webkit-transition: all 0.3s ease; 
			transition: all 0.3s ease;
			&:nth-child(1) {
				margin-top: -10px;
			}
			&:nth-child(3) {
				margin-top: 10px;
			}
		}
		&:not(.collapsed) {
			.icon {
				&:nth-child(1) {
					transform: rotate(45deg) translateX(8px) translateY(7px);
				}
				&:nth-child(2) {
					opacity: 0;
				}
				&:nth-child(3) {
					transform: rotate(-45deg)  translateX(7px) translateY(-6px);
				}
			}
		}
	}
}
.navbar {
    position: relative;
    min-height: 0;
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
}
.dropdown-backdrop {
	display: none;
}
#menu-hamburger {
	background: $color1; 
	display: none;
}
#menu-top {
	background-image: url('../images/toolbar/menu-outer.svg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: 0;
	padding: 35px 40px 30px 35px;
	.navbar {
		background-image: url('../images/toolbar/menu-inner.svg');
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-position: 0;
	}
	.topMenu {
		font-size: 1.6rem;
		color: #fff;
		ul {
			@include clearfix();
			text-align: center;
		}
		& > li {
			& > a {
				&:hover {
					text-decoration: none !important;
				}
			}
		}
		li {
			display: inline-block;
			font-weight: 700;
			a {
				padding: 10px 15px;
				color: #fff;
				text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
				&:hover, &.selected, &.has-selected {
					color: $color2;
					text-decoration: none;
					background-color: #fff;
				}
			}
		}
	}
	.menu-icon {
		display: none;
	}
}
@media (max-width: 1250px) {
	.toolbar {
		background-image: none;
		background-color: #fff;
	}
	.menu-top {
		width: 100%;
	}
}
@media (max-width: 1199px) {
	.toolbar {
		width: 970px;
		background-image: url('../images/toolbar/background.svg');
		background-color: transparent;
	}
	.toolbar__links {
		margin: 0;
		li {
			margin-right: 10px;
		}
	}
}
@media (min-width: 992px) {
	#menu-top {
		transform: translateY(-72px);
		margin-bottom: 15px;
    	.menu {
    		.topMenu {
    			text-align: center;
    			& > li {
    				margin: 0;
    				float: none;
    				& > .dropdown-menu {
    					margin-top: 12px; 
    					padding: 8px; 
    					width: 20rem; 
    					background-color: $color2;
    					color: #fff;
    					border-radius: 0;
    					border: 1px solid #fff; 
    					left: 50%;
    					transform: translateX(-50%);
    					& > li {
    						width: 100%;
    						display: block;
    						border-bottom: 1px solid #fff;
    						&:last-child {
    							border: 0;
    						}
    						& > a {
    							font-size: 1.4rem;
    							background-color: transparent;
    							color: #fff;
    							padding: 5px 3px;
    							font-weight: bold;
    							&:hover {
    								text-decoration: underline; 
    							}
    						}
    					}
    				}
    			}
    		}
    	}
    }
}
@media (max-width: 991px) {
	#menu-hamburger {
		display: block;
	}
	#menu-top {
		transform: none;
		position: absolute;
		top: 70px;
		padding: 0;
		left: 0;
		right: 0;
		background-image: none;
		.navbar {
			background-image: none;
		}
		.topMenu {
			li {
				display: block;
				a {
					color: $color1;
					&:hover, &.selected {
						background-color: $color1;
						color: #fff;
						text-decoration: none;
					}
				}	
				& > a {
					&:before, &:after {
						display: none !important;
					}
				}
				& > .dropdown-menu {
					font-size: 1.4rem;
					font-weight: bold;
					background-color: #fff;
					border-top: 2px solid $color1;
					border-bottom: 2px solid $color1; 
					& > li {
						& > a {
							font-weight: bold;
						}
					}
				}
			}
		}
	}
	.toolbar {
		background-color: #fff;
		height: auto;
		padding: 10px 25px; 
		width: 100%;
		transform: none;
		.container {
			width: 750px;
		}
		li {
			a {
				width: 30px;
			}
		}
	}
	.toolbar__contrast {
		img {
			margin: 0;
		}
		span {
			display: none;
		}
	}
	.toolbar__fonts {
		display: none;
	}
	.toolbar__links {
		font-size: 0;
		img {
			transform: scale(1.8) translateX(50%);
		}
		li {
			&:last-child {
				a {
					width: 65px;
				}
				img {
					transform: none;
				}
			}
		}
	}
	.toolbar__search {
		margin-right: 0;
		float: right;
		input[type="text"] {
			display: none;
		}
		.show {
			input[type="text"] {
				display: inline-block;
			}
		}
	}
	.menu-top {
		padding: 0;
		.navbar-collapse {
			border-top: 0; 
			box-shadow: none;
		}
		.menu {
			background: #fff;
			ul {
				li {
					a {
						padding: 10px;
					}
				}
			}
			a {
				.title {
					margin-top: 0;
				}
				&.selected, &:hover {
					background: $color2 + #333;
					text-decoration: underline;
				}
			}
			.topMenu {
				& > li {
					float: none;
					margin-right: 0; 
					text-align: center;
					& > a {
						padding: 15px;
						&.selected {
							&:after {
								display: none;
							}
						}
					}
					& > .dropdown-menu {
						position: static; 
						margin: 0; 
						float: none; 
						min-width: 0; 
						border: 0; 
						border-radius: 0; 
						background-color: $color2; 
						text-align: center; 
						box-shadow: none;
						color: #fff;
						font-size: 1.4rem;
						text-transform: uppercase;

					}
				}
			}
		}
		.navbar-collapse {
			width: 100%;
			padding: 0;
			border-bottom: 2px solid $color1;
			.container {
				padding: 0; 
				width: 100%;
			}
			.row {
				margin: 0;
			}
			.col-xs-12 {
				padding: 0;
			}
		}
	}
	.menu-top-searchbar {
		display: none;
	}

    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .navbar-collapse.collapse.in {
        display: block!important; 
    }
}
@media (max-width: 767px) {
	.toolbar {
		padding-left: 0;
		padding-right: 0;
		.container {
			width: 100%;
		}
	}
	.toolbar__search {
		margin-left: 0;
		input[type="text"] {
			position: absolute;
			right: 125px;
		}
	}
}