$basic: #343434;
$color1: #3477a8;
$color2: #458418;
$color3: #e6e600;
$attention: #ff0000;
html {
	font-size: 62.5%;
}
body, html {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	color: $basic;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}
body {
	font-size: 1.4rem;
	background-color: #2b71a5;
	background-image: url('../images/background.png');
}
a {
	text-decoration: none;
	outline: 0;
	display: inline-block;
	transition: outline 1ms; 
	color: $color1;
	max-width: 100%;
	&:hover, &:focus {
		color: inherit;
	}
}
a[href^="mailto:"] {
	display: block;
	word-break: break-all;
}
img {
	max-width: 100%;
	height: auto;
}
.clearfix, .clear {
	@include clearfix();
}
h2 {
	font-family: 'KaushanScript', serif;
	font-weight: normal;
	font-size: 2.5rem;
	letter-spacing: 0.5px;
	line-height: 30px;
}
h2.module-name, .gallery-header {
	font-family: 'KaushanScript', serif;
	font-weight: normal;
	width: calc(100% + 26px);
	position: relative;
	z-index: 2; 
	color: #fff;
	font-size: 2.5rem;
	letter-spacing: 0.5px;
	line-height: 30px;
	margin: 10px 0;
	padding: 15px;
	svg {
		@include full();
		path {
			fill: #000;
		}
	}
	span {
		position: relative;
		z-index: 2;
	}
}
.gallery-header {
	padding-left: 0;
}
.FBLike, .Tweet {
	iframe {
		margin: 5px 0 0;
	}
}
form, fieldset {
	margin: 0; 
	padding: 0; 
	border: none;
}
legend {
	position: absolute; 
	left: -9000em
}
input, select, textarea {
	font-size: 1.4rem; 
	font-family: 'Roboto', sans-serif; 
	outline: none;
}
input[type="text"], input[type="password"] {
	border: 1px solid #79b3de;
	height: 32px;
	line-height: 30px;
	padding: 0 10px;
}
ul {
	margin: 0; 
	padding: 0; 
	list-style: none;
}
h1,h2,h3,h4 {
	font-family: 'KaushanScript', serif;
}
.main-header, .main-subheader {
	font-family: 'KaushanScript', serif;
	color: $color1;
	padding: 0;
	margin: 0;
}
.main-header {
	font-size: 3.2rem;
	line-height: 34px;	
}
.main-subheader {
	color: $color2;
	font-size: 2.2rem;
	line-height: 24px;
}
.skip-links {
    position: absolute;
    top: 0;
    a, a:visited {
	    display: inline-block;
	    left: -9999px;
	    padding: 7px 10px;
	    position: absolute;
	    text-decoration: none;
	    z-index: 100;
	    width: 200px;
	    text-align: center;
	    -webkit-transition: opacity 0.3s ease 0s;
	    transition: opacity 0.3s ease 0s;
	    opacity: 0
	}
	a {
		&:focus, &:hover, &:active, &:visited:focus, &:visited:hover, &:visited:active {
		    left: 0;
		    background-color: $color2;
		    color: #fff;
		    opacity: 1;
		    outline: none;
		}
	}
}
a {
	&:focus {
		text-decoration: none !important;
	}
}
.no-outline {
    outline: none !important;
}
a:focus, button:focus, input:focus, .menu-top .navbar-toggle:focus, .dropdown-toggle:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.keyboard-outline {
	outline: 2px solid $attention !important;
	outline-offset: 2px !important;
	text-decoration: none !important;
}
#content_txt {
	table {
		margin: 10px 0;
		border: 1px solid $color1;
		border-collapse: collapse;
		th, td {
			border: 1px solid $color1;
			padding: 3px 5px;
		}
		caption {
			font-weight: bold;
		}
	}
	p {
		line-height: 17px;
	}
}
#flashclock {
	display: none;
}
input[type=text], input[type=search], input[type=password], textarea {
	border: 1px solid $color2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
	&:focus {
    	border: 1px solid $color1;
	}
}
button {
	background-color: transparent;
	border: 0;
	box-shadow: none;
    appearance: none;
    border-radius: 0;
}
.base {
	display: none;
}
.input-wrapper {
	display: inline-block;
	position: relative;
	color: #fff;
	input {
		position: relative;
		border: 0;
		box-shadow: none;
		text-transform: uppercase;
		background-color: transparent;
		text-align: center;
		line-height: 40px;
		font-weight: 700;
		font-size: 1.4rem;
		margin: 0;
		z-index: 2;
		padding: 0 21px;
		text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
		color: currentColor;
	}
	svg {
		@include full();
		fill: $color2;
	}
	&:hover {
		text-decoration: none;
		input {
			color: #fff;
		}
		svg {
			fill: $color1;
		}
	}
}
.link-wrapper, .buttonWrapper {
	display: inline-block;
	position: relative;
	color: #fff;
	text-transform: uppercase;
	a {
		position: relative;
		width: 100%;
		z-index: 2;
		font-size: 1.4rem;
		line-height: 40px;
		font-weight: 700;
		padding: 0 21px;
		text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
		color: currentColor;
		&:hover {
			text-decoration: none !important;
		}
	}
	svg {
		@include full();
		fill: $color2;
	}
	&:hover {
		a {
			text-decoration: none;
		}
		svg {
			fill: $color1;
		}
	}
}
.link-object {
	display: inline-block;
	position: relative;
	color: #fff;
	z-index: 2;
	font-size: 1.4rem;
	line-height: 40px;
	font-weight: 700;
	padding: 0 21px;
	text-shadow: 0px 1px 0px rgba(50, 94, 18, 0.1);
	span {
		position: relative;
		z-index: 2;
	}	
	svg {
		@include full();
		fill: $color2;
	}
	&:hover {
		text-decoration: none;
		color: #fff;
		svg {
			fill: $color1;
		}
	}	
}
.dropdown-menu {
	& > li {
		& > a {
			white-space: normal;
			&:focus, &:hover {
				background: transparent;
			}
		}
	}
}
iframe {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#content_txt {
	@include clearfix();
}
a:not([href]) {
	width: 0;
	height: 0;
	display: inline;
}
.label {
	font-size: 100%;
}
@media (min-width: 992px) {
	.page-content {
		transform: translateY(-72px);
	}
}
@media (max-width: 991px) {
	.page-content {
		padding: 0;
	}
	.main, .aside {
		height: auto !important;
	}
}